{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Пополнение баланса{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/balance/recharge.css'
        'bundles/banklot/css/banklot/balance/_recharge.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Пополнение баланса</h1>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    <label class="col-xs-2 control-label">Текущий баланс</label>
                    <div class="col-xs-5">
                        <p class="form-control-static">{{ app.user.balance|e }} руб.</p>
                    </div>
                </div>
                {% set errors = form.sum.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    <label for="{{ form.sum.vars.id }}" class="col-xs-2 control-label">Сумма пополнения</label>
                    <div class="col-xs-5 currency">
                        {{ form_widget(form.sum, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-5">
                        <button type="submit" class="btn-blue">Пополнить</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}