{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Пополнение баланса{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/balance/recharge-confirm.css'
        'bundles/banklot/css/banklot/balance/_recharge-confirm.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <h1>Пополнение баланса</h1>
            <p>
                Извините, система электронных платежей в данный момент недоступна.<br>
                Вы можете пополнить баланс, осуществив перевод на счет компании Banklot, воспользовавшись банковскими реквизитами ниже.<br>
                <span>Обязательно укажите свой ID и никнейм в комментарии к платежу!</span>
            </p>
            <div class="block">
                ID: <strong>{{ app.user.id|e }}</strong> (указать в комментарии)<br>
                Ваш никнейм: <strong>{{ app.user.nickname|e }}</strong> (указать в комментарии)<br>
                Сумма платежа: <strong>{{ money.sum|e }} руб.</strong><br>
                <br>
                ООО "Инвестконсалт"<br>
                ИНН 2225159763<br>
                КПП 222501001<br>
                ОГРН 1152225008517<br>
                <br>
                в Филиал «Новосибирский» Публичного акционерного общества «Ханты-Мансийский банк Открытие»<br>
                ИНН 8601000666<br>
                КПП 540743001<br>
                БИК 045004880<br>
                к/с 30101810350040000880 в ГРКЦ ГУ БАНКА РОССИИ ПО НОВОСИБИРСКОЙ ОБЛ.<br>
                ОГРН 1028600001880<br>
                счет № 40702810907230007912<br>
                <br>
                <a href="{{ path('balance_recharge_confirm', {'money': money.id, 'print': true}) }}" target="_blank">Печать</a>
            </div>
        </div>
    </section>
{% endblock %}