<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Пополнение баланса</title>
    </head>
    <body>
        ID: <strong>{{ app.user.id|e }}</strong> (указать в комментарии)<br>
        Ваш никнейм: <strong>{{ app.user.nickname|e }}</strong> (указать в комментарии)<br>
        Сумма платежа: <strong>{{ money.sum|e }} руб.</strong><br>
        <br>
        ООО "Инвестконсалт"<br>
        ИНН 2225159763<br>
        КПП 222501001<br>
        ОГРН 1152225008517<br>
        <br>
        в Филиал «Новосибирский» Публичного акционерного общества «Ханты-Мансийский банк Открытие»<br>
        ИНН 8601000666<br>
        КПП 540743001<br>
        БИК 045004880<br>
        к/с 30101810350040000880 в ГРКЦ ГУ БАНКА РОССИИ ПО НОВОСИБИРСКОЙ ОБЛ.<br>
        ОГРН 1028600001880<br>
        счет № 40702810907230007912
        <script>
            window.print();
        </script>
    </body>
</html>