{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}История движения средств{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/balance/status.css'
        'bundles/banklot/css/banklot/balance/_status.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <h1>История движения средств</h1>
            <table>
                <thead>
                    <tr>
                        <th>Комментарий</th>
                        <th>Назначение</th>
                        <th>Дата реализ.</th>
                        <th>Прибыль</th>
                    </tr>
                </thead>
                <tbody>
                    {% for money in moneys %}
                        <tr{{ not money.confirmed ? ' class="disabled"'}}>
                            <td>
                                {% if money.lot is not empty %}
                                    <a href="{{ path('lots_lot', {'lot': money.lot.id}) }}">{{ money.lot.name|e }}</a>
                                {% else %}
                                    {{ money.comment is not empty ? money.comment|e : '&mdash;' }}
                                {% endif %}
                            </td>
                            <td>
                                {% if money.type == 0 %}
                                    Пополнение
                                {% elseif money.type == 1 %}
                                    Вывод денег
                                {% elseif money.type == 2 %}
                                    Взнос
                                {% elseif money.type == 3 %}
                                    Прибыль
                                {% elseif money.type == 4 %}
                                    Возврат
                                {% elseif money.type == 5 %}
                                    Бонус автору
                                {% elseif money.type == 6 %}
                                    Бонус исполнителю
                                {% else %}
                                    Проч. перечисления
                                {% endif %}
                            </td>
                            <td>{{ money.createdAt|date('d.m.y') }}</td>
                            <td class="sum {{ money.type in [1, 2] ? ' negative' }}">{{ money.type in [1, 2] ? '&ndash;' }}{{ money.sum|e }} руб.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="sidebar">
                <div class="text balance">
                    <h3>Данные баланса</h3>
                    <p>
                        Доступные
                        <span>{{ app.user.balance|e|round(2) }} р.</span>
                    </p>
                    <p>
                        Неподтвержденные
                        <span>{{ money_not_confirmed|e|round(2) }} р.</span>
                    </p>
                    <p>
                        Вложенные
                        <span>{{ money_lots|e|round(2) }} р.</span>
                    </p>
                    <hr>
                    <p class="all">
                        Всего в системе
                        <span>{{ money_all|e|round(2) }} р.</span>
                    </p>
                    <a href="{{ path('balance_recharge') }}" class="btn-blue btn-a">Пополнить</a>
                </div>
                <a href="{{ path('balance_withdraw') }}" class="btn-grey btn-a">Вывести средства из системы</a>
            </div>
        </div>
    </section>
{% endblock %}