{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Вывод средств из системы{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/balance/withdraw-confirm.css'
        'bundles/banklot/css/banklot/balance/_withdraw-confirm.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <h1>Вывод средств из системы</h1>
            <p>
                Извините, система электронных платежей в данный момент недоступна.<br>
                Выведенные средства после проверки нашими операторами будут перечислены Вам на счет соглано банковским реквизитам,
                которые Вы указывали при регистрации.
                <br>
                Сумма с учетом комиссии: <strong>{{ (money.sum * (1 - percent / 100.00))|e }} руб.</strong>
            </p>
        </div>
    </section>
{% endblock %}