{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Доступ запрещен{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/access-denied.css'
        'bundles/banklot/css/banklot/security/_access-denied.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="access-denied">
        <div class="wrapper">
            <div class="block">
                <h1>Пополните баланс</h1>
                <p>Для работы с системой нужно внести на ваш счёт<br>стартовую сумму в размере {{ allowed_balance|e }} руб.</p>
                <div class="text-center">
                    <a href="{{ path('balance_recharge') }}" class="btn-green btn-a">Пополнить баланс</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}