{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <h1>Авторизация</h1>
    {{ form_start(form, {'action': path('security_admin_login_check'), 'attr': {'class': 'form-horizontal'}}) }}
        {% set errors = form.username.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.username, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.password.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.password, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}