{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}История движения средств{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/lots/lots.css'
        'bundles/banklot/css/banklot/lots/_lots.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="lot">
        <div class="wrapper">
            <h1>История движения средств</h1>
            <div class="lot-status">

            </div>
        </div>
    </section>
{% endblock %}