{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Вход в личный кабинет{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/login.css'
        'bundles/banklot/css/banklot/security/_login.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Security:registration_header.html.twig' with {'login': true} %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Вход в личный кабинет</h1>
                </div>
            </div>
            {{ form_start(form, {'action': path('security_login_check'), 'attr': {'class': 'form-horizontal'}}) }}
                {% set errors = form.username.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.username, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': form.username.vars.label, 'autofocus': true}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.password.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.password, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': form.password.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-2">
                        <button type="submit" class="btn-blue">Войти</button>
                    </div>
                    <div class="col-xs-3 text-right">
                        <a href="{{ path('security_registration_1') }}">Регистрация</a>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}