{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Редактирование профиля{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/profile.css'
        'bundles/banklot/css/banklot/security/_profile.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Редактирование профиля</h1>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    <label class="col-xs-2 control-label">ID</label>
                    <div class="col-xs-5">
                        {% set id = app.user.id %}
                        {% for i in 1..(7 - id|length) %}{% set id = '0' ~ id %}{% endfor %}
                        <p class="form-control-static">{{ id }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Электропочта</label>
                    <div class="col-xs-5">
                        <p class="form-control-static">{{ app.user.username|e }}</p>
                    </div>
                </div>
                {% if app.user.invitedBy is not empty %}
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Приглашен пользователем</label>
                        <div class="col-xs-5">
                            <p class="form-control-static">{{ app.user.invitedBy.nickname|e }}</p>
                        </div>
                    </div>
                {% endif %}
                {% set errors = form.name.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': form.name.vars.label, 'autofocus': true}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.phone.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.phone, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': form.phone.vars.label}}) }}
                        <span class="help-block">в любом формате</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.dateOfBirth.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.dateOfBirth, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        <div class="row date">
                            <div class="col-xs-3 day">
                                {{ form_widget(form.dateOfBirth.day, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_widget(form.dateOfBirth.month, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-3 year">
                                {{ form_widget(form.dateOfBirth.year, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.country.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.country, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.country, {'attr': {'class': 'form-control', 'placeholder': form.country.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.region.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.region, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.region, {'attr': {'class': 'form-control', 'placeholder': form.region.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.city.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.city, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': form.city.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.address.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.address, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': form.address.vars.label}}) }}
                        <span class="help-block">улица, дом, квартира, индекс (если знаете)</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.nickname.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.nickname, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.nickname, {'attr': {'class': 'form-control', 'placeholder': form.nickname.vars.label}}) }}
                        <span class="help-block">строчные буквы и/или цифры без пробелов</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <h1>Паспортные данные</h1>
                    </div>
                </div>
                {% set series_errors = form.passportSeries.vars.errors %}
                {% set number_errors = form.passportNumber.vars.errors %}
                <div class="form-group{{ series_errors|length or number_errors|length ? ' has-error' }}">
                    <label class="col-xs-2 control-label">Серия и номер паспорта</label>
                    <div class="col-xs-5">
                        <div class="row passport">
                            <div class="col-xs-5 series">
                                {{ form_widget(form.passportSeries, {'attr': {'class': 'form-control', 'placeholder': 'Серия', 'autofocus': true}}) }}
                            </div>
                            <div class="col-xs-7 number">
                                {{ form_widget(form.passportNumber, {'attr': {'class': 'form-control', 'placeholder': 'Номер паспорта'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in series_errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                        {% for error in number_errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.passportDateOfIssue.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.passportDateOfIssue, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        <div class="row date">
                            <div class="col-xs-3 day">
                                {{ form_widget(form.passportDateOfIssue.day, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_widget(form.passportDateOfIssue.month, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-3 year">
                                {{ form_widget(form.passportDateOfIssue.year, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.passportIssuedBy.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.passportIssuedBy, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.passportIssuedBy, {'attr': {'class': 'form-control', 'placeholder': form.passportIssuedBy.vars.label}}) }}
                        <span class="help-block">как в паспорте</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.passportPhoto.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.passportPhoto, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.passportPhoto.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.INN.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.INN, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.INN, {'attr': {'class': 'form-control', 'placeholder': form.INN.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.INNPhoto.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.INNPhoto, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.INNPhoto.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <h1>Банковские реквизиты</h1>
                    </div>
                </div>
                {% set errors = form.bankAccount.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.bankAccount, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.bankAccount, {'attr': {'class': 'form-control', 'placeholder': form.bankAccount.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.bankBIK.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.bankBIK, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.bankBIK, {'attr': {'class': 'form-control', 'placeholder': form.bankBIK.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-5">
                        <button type="submit" class="btn-blue">Сохранить</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function passportChanged() {
            $('#{{ form.passportPhoto.vars.id }}').prop('required', true);
        }

        function innChanged() {
            $('#{{ form.INNPhoto.vars.id }}').prop('required', true);
        }

        $(document).ready(function() {
            $('#{{ form.dateOfBirth.month.vars.id }}, #{{ form.passportDateOfIssue.month.vars.id }}').setRusMonths();
            $('#{{ form.passportSeries.vars.id }}').change(function() { passportChanged(); });
            $('#{{ form.passportNumber.vars.id }}').change(function() { passportChanged(); });
            $('#{{ form.passportDateOfIssue.day.vars.id }}').change(function() { passportChanged(); });
            $('#{{ form.passportDateOfIssue.month.vars.id }}').change(function() { passportChanged(); });
            $('#{{ form.passportDateOfIssue.year.vars.id }}').change(function() { passportChanged(); });
            $('#{{ form.passportIssuedBy.vars.id }}').change(function() { passportChanged(); });
            $('#{{ form.INN.vars.id }}').change(function() { innChanged(); });
        });
    </script>
{% endblock %}