{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/profile-view.css'
        'bundles/banklot/css/banklot/security/_profile-view.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <h1>Профиль</h1>
            <table>
                <tbody>
                    <tr>
                        <td class="bold">ID</td>
                        <td>
                            {% set id = app.user.id %}
                            {% for i in 1..(7 - id|length) %}{% set id = '0' ~ id %}{% endfor %}
                            {{ id }}
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Электропочта</td>
                        <td>{{ app.user.username|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Фамилия, имя, отчество</td>
                        <td>{{ app.user.name|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Телефон</td>
                        <td>{{ app.user.phone|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Дата рождения</td>
                        <td>{{ app.user.dateOfBirth|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Страна</td>
                        <td>{{ app.user.country|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Регион</td>
                        <td>{{ app.user.region|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Город</td>
                        <td>{{ app.user.city|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Почтовый адрес</td>
                        <td>{{ app.user.address|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Никнейм</td>
                        <td>{{ app.user.nickname|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Серия и номер паспорта</td>
                        <td>{{ app.user.passportSeries|e }} {{ app.user.passportNumber|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Кем выдан</td>
                        <td>{{ app.user.passportIssuedBy|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Дата выдачи</td>
                        <td>{{ app.user.passportDateOfIssue|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Номер ИНН</td>
                        <td>{{ app.user.INN|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Номер расчетного счета</td>
                        <td>{{ app.user.bankAccount|e }}</td>
                    </tr>
                    <tr>
                        <td class="bold">Код БИК</td>
                        <td>{{ app.user.bankBIK|e }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <a href="{{ path('security_profile') }}" class="btn-blue btn-a">Изменить профиль</a>
        </div>
    </section>
{% endblock %}