{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Шаг 2: Личные данные и профиль{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/registration.css'
        'bundles/banklot/css/banklot/security/_registration.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Security:registration_header.html.twig' with {'step': 1} %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Личные данные</h1>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {% set errors = form.name.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': form.name.vars.label, 'autofocus': true}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.phone.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.phone, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': form.phone.vars.label}}) }}
                        <span class="help-block">в любом формате</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.dateOfBirth.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.dateOfBirth, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        <div class="row date">
                            <div class="col-xs-3 day">
                                {{ form_widget(form.dateOfBirth.day, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_widget(form.dateOfBirth.month, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-3 year">
                                {{ form_widget(form.dateOfBirth.year, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.country.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.country, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.country, {'attr': {'class': 'form-control', 'placeholder': form.country.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.region.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.region, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.region, {'attr': {'class': 'form-control', 'placeholder': form.region.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.city.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.city, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': form.city.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.address.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.address, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': form.address.vars.label}}) }}
                        <span class="help-block">улица, дом, квартира, индекс (если знаете)</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.nickname.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.nickname, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.nickname, {'attr': {'class': 'form-control', 'placeholder': form.nickname.vars.label}}) }}
                        <span class="help-block">строчные буквы и/или цифры без пробелов</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row submit">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn-blue">Продолжить</button>
                        <p>
                            Нажимая кнопку &laquo;Продолжить&raquo;, Вы принимаете условия
                            <a href="#">Политики конфиденциальности</a>
                        </p>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#{{ form.dateOfBirth.month.vars.id }}').setRusMonths();
        });
    </script>
{% endblock %}