{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Шаг 3: Паспортные данные и реквизиты{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/registration.css'
        'bundles/banklot/css/banklot/security/_registration.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Security:registration_header.html.twig' with {'step': 2} %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Паспортные данные</h1>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {% set series_errors = form.passportSeries.vars.errors %}
                {% set number_errors = form.passportNumber.vars.errors %}
                <div class="form-group{{ series_errors|length or number_errors|length ? ' has-error' }}">
                    <label class="col-xs-2 control-label">Серия и номер паспорта</label>
                    <div class="col-xs-5">
                        <div class="row passport">
                            <div class="col-xs-5 series">
                                {{ form_widget(form.passportSeries, {'attr': {'class': 'form-control', 'placeholder': 'Серия', 'autofocus': true}}) }}
                            </div>
                            <div class="col-xs-7 number">
                                {{ form_widget(form.passportNumber, {'attr': {'class': 'form-control', 'placeholder': 'Номер паспорта'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in series_errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                        {% for error in number_errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.passportDateOfIssue.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.passportDateOfIssue, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        <div class="row date">
                            <div class="col-xs-3 day">
                                {{ form_widget(form.passportDateOfIssue.day, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_widget(form.passportDateOfIssue.month, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-3 year">
                                {{ form_widget(form.passportDateOfIssue.year, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.passportIssuedBy.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.passportIssuedBy, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.passportIssuedBy, {'attr': {'class': 'form-control', 'placeholder': form.passportIssuedBy.vars.label}}) }}
                        <span class="help-block">как в паспорте</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.passportPhoto.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.passportPhoto, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.passportPhoto.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.INN.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.INN, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.INN, {'attr': {'class': 'form-control', 'placeholder': form.INN.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.INNPhoto.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.INNPhoto, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.INNPhoto.file, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <h1>Банковские реквизиты</h1>
                    </div>
                </div>
                {% set errors = form.bankAccount.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.bankAccount, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.bankAccount, {'attr': {'class': 'form-control', 'placeholder': form.bankAccount.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.bankBIK.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.bankBIK, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.bankBIK, {'attr': {'class': 'form-control', 'placeholder': form.bankBIK.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-5 add-certificate">
                        <span>Проходили обучение?</span>
                        В клубе инвесторов
                        &laquo;<a href="http://investconsalt.ru/" target="_blank">Инвестконсалта</a>&raquo;<br>
                        <a href="#" class="add-certificate">Ввести номер сертификата</a>
                    </div>
                </div>
                {% set errors = form.certificate.vars.errors %}
                <div class="form-group certificate{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.certificate, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.certificate, {'attr': {'class': 'form-control', 'placeholder': form.certificate.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row submit">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn-blue">Продолжить</button>
                        <p>
                            Нажимая кнопку &laquo;Продолжить&raquo;, Вы принимаете условия
                            <a href="#">Политики конфиденциальности</a>
                        </p>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#{{ form.passportDateOfIssue.month.vars.id }}').setRusMonths();
            var certificate_group = $('.certificate'), certificate = $('#{{ form.certificate.vars.id }}');

            if (certificate.val().length) certificate_group.stop(true, true).slideDown(250);

            $('a.add-certificate').click(function(e) {
                if (certificate_group.is(':visible')) certificate_group.stop(true, true).slideUp(250);
                else certificate_group.stop(true, true).slideDown(250);

                e.preventDefault();

                return false;
            });
        });
    </script>
{% endblock %}