<header class="registration">
    <div class="wrapper">
        <a href="{{ path('default_index') }}" class="logo-dark"></a>
        {% if is_granted(constant('BanklotBundle\\Entity\\Role::AUTHENTICATED_FULLY')) %}
            <div class="user">
                {% set user = app.user %}
                {% if user.name is not empty %}
                    {{ user.name|e }}
                {% else %}
                    {{ user.username|e }}
                {% endif %}
            </div>
        {% endif %}
    </div>
</header>
{% set login = login|default(false) %}
{% if not login %}
    <div class="steps">
        <div class="wrapper">
            {% spaceless %}
            {% set enabled_classes = ['lighter', 'normal', 'light', 'normal'] %}
            {% set step = step|default(0) %}
            {% set classes = [] %}
            {% for s in -step..(3 - step) %}
                {% set classes = classes|merge([enabled_classes[s|abs]]) %}
            {% endfor %}
            {% set REGISTRATION_1 = constant('BanklotBundle\\Entity\\User::REGISTRATION_1') %}
            {% set REGISTRATION_2 = constant('BanklotBundle\\Entity\\User::REGISTRATION_2') %}
            <ul>
                <li class="{{ classes[0] }}">Шаг 1: Начало регистрации</li>
                <li class="{{ classes[1] }}">
                    {% if app.user and app.user.status >= REGISTRATION_1 %}
                        <a href="{{ path('security_registration_2') }}">Шаг 2: Личные данные и профиль</a>
                    {% else %}
                        Шаг 2: Личные данные и профиль
                    {% endif %}
                </li>
                <li class="{{ classes[2] }}">
                    {% if app.user and app.user.status >= REGISTRATION_2 %}
                        <a href="{{ path('security_registration_3') }}">Шаг 3: Паспортные данные и реквизиты</a>
                    {% else %}
                        Шаг 3: Паспортные данные и реквизиты
                    {% endif %}
                </li>
                <li class="{{ classes[3] }} last">Шаг 4: Пополнение баланса</li>
            </ul>
            {% endspaceless %}
        </div>
    </div>
{% endif %}