{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Шаг 1: Начало регистрации{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/registration.css'
        'bundles/banklot/css/banklot/security/_registration.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Security:registration_header.html.twig' with {'step': 0} %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Регистрация</h1>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {% set errors = form.username.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.username, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5 widget">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': form.username.vars.label, 'autofocus': true}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.password.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.password, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5 widget">
                        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': form.password.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row submit">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn-blue">Продолжить</button>
                        <p>
                            Нажимая кнопку &laquo;Продолжить&raquo;, Вы принимаете условия
                            <a href="#">Политики конфиденциальности</a>
                        </p>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}