{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Шаг 4: Пополнение баланса{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/registration.css'
        'bundles/banklot/css/banklot/security/_registration.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Security:registration_header.html.twig' with {'step': 3} %}
    <section>
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Пополнение баланса</h1>
                </div>
            </div>
            {{ form_start(form, {'action': path('balance_recharge'), 'attr': {'class': 'form-horizontal'}}) }}
                {% set errors = form.sum.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    <label for="{{ form.sum.vars.id }}" class="col-xs-2 control-label">Сумма пополнения</label>
                    <div class="col-xs-5 widget">
                        {{ form_widget(form.sum, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit">Пополнить</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}