<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация в Banklot</title>
    </head>
    <body>
        <h1>Регистрация в Banklot</h1>
        <p>
            Вы успешно зарегистрировали учетную запись в системе
            <a href="{{ app.request.schemeAndHttpHost }}">Banklot</a>.
            Ваши реквизиты доступа:<br>
            Логин: <strong>{{ username|e }}</strong><br>
            Пароль: <strong>{{ password|e }}</strong><br>
            Пожалуйста,
            <a href="{{ path('security_registration_2') }}">заполните все поля своего профиля</a>.
        </p>
    </body>
</html>