<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>{% block title %}Home{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="copyright" content="ООО ИнвестКонсалт">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}">
        <!--[if lt IE 9]>
                {% javascripts filter = '?jsqueeze' output = 'js/html5shiv.js'
                    '@BanklotBundle/Resources/public/js/html5shiv/html5shiv.js'
                %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
            <[endif]-->
        {% block stylesheets %}
            {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/admin.css'
                'bundles/banklot/css/bootstrap/_bootstrap.scss'
            %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts filter = '?jsqueeze' output = 'js/banklot.js'
                '@BanklotBundle/Resources/public/js/jquery/jquery-2.1.4.js'
            %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
        {% endblock %}
    </body>
</html>