<footer>
    <div class="wrapper">
        <div class="copyright">
            <span>&copy; Banklot {{ 'now'|date('Y') }}</span><br>
            Banklot &mdash; онлайн-система коллективного инвестирования<br>
            в имущество банкротов
        </div>
        <div class="privacy-policy">
            <a href="#">Политика конфиденциальности</a><br>
            <a href="mailto:{{ support_mail }}">Техническая поддержка</a>
        </div>
    </div>
</footer>