<header class="main">
    <div class="wrapper">
        <a href="{{ path('lots_all') }}" class="logo"></a>
        <ul class="menu">
            <li class="lots">
                <a href="{{ path('lots_all') }}">Торги</a>
            </li>
            {#<li class="statistics">#}
                {#<a href="#">Статистика</a>#}
            {#</li>#}
            <li class="notices">
                <a href="#">Оповещения <span class="caret"></span></a>
                <div class="count">
                    <span>{{ notices|length ? notices|length }}</span>
                </div>
                <div class="submenu">
                    <h3>Оповещения и приглашения</h3>
                    {% for notice in notices %}
                        <p>
                            {% set options = notice.options %}
                            {% if notice.type == 0 %}
                                В лоте
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                собрана сумма средств в размере {{ options.sum|round(2) }} р.
                            {% elseif notice.type == 1 %}
                                Лот
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                на стадии покупки
                            {% elseif notice.type == 2 %}
                                Лот
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                куплен
                            {% elseif notice.type == 3 %}
                                Лот
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                не удалось выкупить
                            {% elseif notice.type == 4 %}
                                Лот
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                капитализирован
                            {% elseif notice.type == 6 %}
                                Пользователь {{ options.user|e }} хочет участвовать в вашем лоте
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                <span class="join" style="display: block;">
                                    <a href="{{ path('api_confirm_lot_invite', {'invite': options.invite_id}) }}" class="btn-blue btn-a" style="color: #fafafa;font-size: 12px;padding: 2px 15px;height: auto;">Добавить</a>
                                </span>
                            {% elseif notice.type == 5 %}
                                Вас приглашают участвовать в лоте
                                <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                                <span class="join" style="display: block;">
                                    <a href="{{ path('api_confirm_lot_invite', {'invite': options.invite_id}) }}" class="btn-blue btn-a" style="color: #fafafa;font-size: 12px;padding: 2px 15px;height: auto;">Принять</a>
                                </span>
                            {% elseif notice.type == 7 %}
                                {{ options.text|e }}
                            {% endif %}
                        </p>
                    {% else %}
                        <p>Нет оповещений</p>
                    {% endfor %}
                    <p>
                        <a href="{{ path('default_notices') }}">Все оповещения</a>
                    </p>
                </div>
            </li>
            <li class="user">
                <a href="javascript:void(0);">{{ app.user.name|length > 40 ? app.user.name[:40]|e ~ '...' : app.user.name|e }} <span class="caret"></span></a>
                <div class="submenu">
                    <p><a href="{{ path('security_profile_view') }}">Профиль</a></p>
                    <p><a href="{{ path('security_profile') }}">Изменить профиль</a></p>
                    <p><a href="{{ path('balance_status') }}">Информация о балансе</a></p>
                    <p><a href="{{ path('default_invite') }}">Пригласить партнёра</a></p>
                    <p><a href="{{ logout_path('lots') }}">Выйти</a></p>
                </div>
            </li>
        </ul>
        {% set add_lot = add_lot|default(false) %}
        <a href="{{ path('lots_add_lot') }}" class="btn-green btn-a add-lot-button{{ add_lot ? ' adding' }}">Создать лот</a>
    </div>
</header>