<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>{% block title %}Home{% endblock %}</title>
        <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="copyright" content="ООО ИнвестКонсалт">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}">
        <!--[if lt IE 9]>
            {% javascripts filter = '?jsqueeze' output = 'js/html5shiv.js'
                '@BanklotBundle/Resources/public/js/html5shiv/html5shiv.js'
            %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
        <[endif]-->
        {% block stylesheets %}
            {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/banklot.css'
                'bundles/banklot/css/bootstrap/_bootstrap.scss'
                'bundles/banklot/css/banklot/_banklot.scss'
            %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include 'BanklotBundle::footer.html.twig' %}
        {% block javascripts %}
            {% javascripts filter = '?jsqueeze' output = 'js/banklot.js'
                '@BanklotBundle/Resources/public/js/jquery/jquery-2.1.4.js'
                '@BanklotBundle/Resources/public/js/banklot/banklot.js'
            %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
            {% set notice_ids = [] %}
            {% for notice in notices %}
                {% set notice_ids = notice_ids|merge([notice.id]) %}
            {% endfor %}
            {% if notice_ids|length %}
                {% set notice_ids = notice_ids|join(',') %}
                <script>
                    $(document).ready(function() {
                        $('header.main .notices > a').click(function() {
                            $.ajax({
                                url: "{{ path('api_set_notices_viewed', {'ids': notice_ids}) }}",
                                dataType: "json",
                                method: 'GET',
                                cache: false,
                                success: function(data) {}
                            });
                        });
                    });
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>