{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Banklot{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/default/index.css'
        'bundles/banklot/css/banklot/default/_index.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    <section class="index">
        <div class="wrapper">
            <div class="logo-index"></div>
            <a href="{{ path('security_login') }}" class="personal">Личный кабинет</a>
            <h1>
                Сервис для<br>
                автоматизации бизнеса<br>
                на электронных аукционах
            </h1>
            <h2>
                Зарегистрируйтесь и начните зарабатывать<br>
                на электронных аукционах по реализации имущества банкротов,<br>
                участвуя в коллективных инвестициях или самостоятельно<br>
                с помощью команды профессионалов
            </h2>
            {% set action = path('security_registration_1') %}
            {% if app.request.query.has('ref') %}{% set action = path('security_registration_1', {'ref': app.request.query.get('ref', -1)}) %}{% endif %}
            {{ form_start(form, {'action': action}) }}
                {{ form_widget(form.username, {'attr': {'placeholder': form.username.vars.label, 'autofocus': true}}) }}
                {{ form_widget(form.password, {'attr': {'placeholder': form.password.vars.label}}) }}
                <button type="submit" class="btn-blue">Зарегистрироваться</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}