{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Пригласить партнёра{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/default/invite.css'
        'bundles/banklot/css/banklot/default/_invite.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <h1>Пригласить партнёра</h1>
            <p>
                Отправьте ссылку ниже партнёру, которого хотите пригласить в систему Banklot.
            </p>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" value="{{ url('security_registration_1') }}?ref={{ app.user.id }}" class="form-control">
                    </div>
                </div>
            </form>
            <h2>Приглашённые мной</h2>
            <table>
                <thead>
                <tr>
                    <th>Никнейм</th>
                    <th>Зарегистрирован</th>
                </tr>
                </thead>
                <tbody>
                {% for user in app.user.invited if user.status == 3 %}
                    <tr>
                        <td>{{ user.nickname|e }}</td>
                        <td>{{ user.createdAt|date('d.m.Y H:i') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Вы пока никого не пригласили</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}