{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Все уведомления и приглашения{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/security/access-denied.css'
        'bundles/banklot/css/banklot/security/_access-denied.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="access-denied">
        <div class="wrapper" style="padding:20px 0;">
            <h1 style="margin-bottom:20px">Все уведомления и приглашения</h1>
            {% for notice in all_notices %}
                <p>
                    <span class="text-muted">{{ notice.createdAt|date('d.m.Y H:i:s') }}:</span>
                    {% set options = notice.options %}
                    {% if notice.type == 0 %}
                        В лоте
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        собрана сумма средств в размере {{ options.sum|round(2) }} р.
                    {% elseif notice.type == 1 %}
                        Лот
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        на стадии покупки
                    {% elseif notice.type == 2 %}
                        Лот
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        куплен
                    {% elseif notice.type == 3 %}
                        Лот
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        не удалось выкупить
                    {% elseif notice.type == 4 %}
                        Лот
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        капитализирован
                    {% elseif notice.type == 6 %}
                        Пользователь {{ options.user|e }} хочет участвовать в вашем лоте
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        <span class="join">
                                    <a href="{{ path('api_confirm_lot_invite', {'invite': options.invite_id}) }}" class="btn-blue btn-a" style="color: #fafafa;font-size: 12px;padding: 2px 15px;height: auto;">Добавить</a>
                                </span>
                    {% elseif notice.type == 5 %}
                        Вас приглашают участвовать в лоте
                        <a href="{{ path('lots_lot', {'lot': options.lot_id}) }}">{{ options.lot_name|e }}</a>
                        <span class="join">
                                    <a href="{{ path('api_confirm_lot_invite', {'invite': options.invite_id}) }}" class="btn-blue btn-a" style="color: #fafafa;font-size: 12px;padding: 2px 15px;height: auto;">Принять</a>
                                </span>
                    {% elseif notice.type == 7 %}
                        {{ options.text|e }}
                    {% endif %}
                </p>
            {% else %}
                <p>Нет оповещений</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}