@import '../banklot/variables';
@import '../banklot/vendor-prefixes';

section.index {
  background: url('../#{$path-images}default/index-bg.jpg') center center no-repeat;
  background-size: cover;
  @include box-shadow(0 0 6px 2px #000);
  height: 800px;
  z-index: 10;

  .wrapper {
    padding-top: 230px;

    .logo-index {
      left: -36px;
      position: absolute;
      top: 46px;
    }

    .personal {
      border-bottom: 1px solid transparent;
      $color: #f9f9f9;
      color: $color;
      font-size: 17px;
      position: absolute;
      right: -31px;
      top: 43px;

      &:focus,
      &:hover {
        border-bottom-color: rgba(255, 255, 255, 0.25);
      }
    }

    h1 {
      color: $color;
      font-size: 62px;
      line-height: 68px;
      text-align: center;
    }

    h2 {
      color: $color;
      font-family: $font-helvetica-neue;
      font-size: 22px;
      font-weight: normal;
      line-height: 32px;
      margin-top: 25px;
      text-align: center;
    }

    form {
      margin-top: 95px;
      text-align: center;

      input {
        background: #fbfbfb;
        border: 1px solid #c7d0d7;
        @include border-radius(4px);
        border-top-color: #51626f;
        @include box-shadow(inset 0px 5px 6px -4px #51626f);
        font-size: 18px;
        height: 43px;
        margin-right: 20px;
        padding: 0 18px;
        width: 270px;
      }

      .btn-blue {
        font-size: 16px;
        height: 43px;
        width: 240px;
      }
    }
  }
}