@import '../banklot/variables';
@import '../banklot/vendor-prefixes';
@import '../banklot/default-page';

section.default-page {
  h2 {
    font-weight: normal;;
    margin-bottom: 20px;
  }

  table {
    width: 50%;
  }
}