{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Создание нового лота{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/lots/add-lot.css'
        'bundles/banklot/css/banklot/lots/_add-lot.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' with {'add_lot': true} %}
    <section class="form-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>Создать новый лот</h1>
                </div>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {% set errors = form.name.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': form.name.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.category.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.category, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-offset-2 col-xs-5 widget">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group closed{{ errors|length ? ' has-error' }}">
                    <div class="col-xs-offset-2 col-xs-5 widget row">
                        {% spaceless %}
                            <div class="col-xs-6">
                                <a href="javascript:void(0);" class="opened active">Открытый</a>
                                <a href="javascript:void(0);" class="closed">Закрытый</a>
                            </div>
                        {% endspaceless %}
                        <div class="col-xs-6">
                            <span class="help-block green">закрытый лот могут видеть только приглашённые вами люди</span>
                        </div>
                    </div>
                </div>
                {% set errors = form.description.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': form.description.vars.label}}) }}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.url.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.url, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(form.url, {'attr': {'class': 'form-control', 'placeholder': form.url.vars.label}}) }}
                        <span class="help-block green">адрес страницы лота на любой площадке</span>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.initialDate.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.initialDate, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5">
                        <div class="row date">
                            <div class="col-xs-3 day">
                                {{ form_widget(form.initialDate.day, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-6">
                                {{ form_widget(form.initialDate.month, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-3 year">
                                {{ form_widget(form.initialDate.year, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% set errors = form.files.vars.errors %}
                <div class="form-group{{ errors|length ? ' has-error' }}">
                    {{ form_label(form.files, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                    <div class="col-xs-5 documents" data-prototype="{{ form_widget(form.files.vars.prototype.file, {'attr': {'class': 'form-control'}})|e }}">
                        {% for child in form.files %}
                            {{ form_widget(child.file, {'attr': {'class': 'form-control'}}) }}
                        {% endfor %}
                    </div>
                    <div class="col-xs-5">
                        {% for error in errors %}
                            <span class="help-block">{{ error.message }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-xs-offset-2 col-xs-5">
                        <span class="help-block green">фото или сканы документов, подтверждающие право собственности</span>
                        <span class="help-block">
                            <a href="#" class="add-document" style="color: #fafafa;">Добавить еще документ</a>
                        </span>
                    </div>
                </div>
                <div id="participants">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-5">
                            <h2>Пригласите участников</h2>
                        </div>
                    </div>
                    {% set errors = form.participants.vars.errors %}
                    <div class="form-group{{ errors|length ? ' has-error' }}">
                        {{ form_label(form.participants, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                        <div class="col-xs-5">
                            {{ form_widget(form.participants, {'attr': {'class': 'form-control', 'placeholder': form.participants.vars.label}}) }}
                            <span class="help-block green">перечислите никнеймы возможных участников</span>
                        </div>
                        <div class="col-xs-5">
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="submit">
                    <h2>Рассчитайте прибыль</h2>
                    <div class="row">
                        {% set errors = form.initialCost.vars.errors %}
                        <div class="col-xs-6 form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form.initialCost, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="currency">
                                {{ form_widget(form.initialCost, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                        {% set errors = form.purchaseCost.vars.errors %}
                        <div class="col-xs-6 form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form.purchaseCost, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="currency">
                                {{ form_widget(form.purchaseCost, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        {% set errors = form.additionalExpenses.vars.errors %}
                        <div class="col-xs-6 form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form.additionalExpenses, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="currency">
                                {{ form_widget(form.additionalExpenses, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                        {% set errors = form.marketCost.vars.errors %}
                        <div class="col-xs-6 form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form.marketCost, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="currency">
                                {{ form_widget(form.marketCost, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        {% set errors = form.ownFunds.vars.errors %}
                        <div class="col-xs-6 form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form.ownFunds, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="currency">
                                {{ form_widget(form.ownFunds, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                        {% set errors = form.capitalization.vars.errors %}
                        <div class="col-xs-6 form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form.capitalization, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="months">
                                {{ form_widget(form.capitalization, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p class="own-percentage">
                            Собственные инвестиции
                            <span>%</span>
                        </p>
                        <p class="profitability">
                            Прогнозируемая рентабельность
                            <span>%</span>
                        </p>
                        <p class="own-profit">
                            Прогн. чистая прибыль (собственная)
                            <span>0 р.</span>
                        </p>
                        <p class="profit">
                            Прогнозируемая чистая прибыль
                            <span class="big">0 р.</span>
                        </p>
                    </div>
                    <button type="submit" class="btn-blue">Опубликовать лот</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function recalc(purchase, additional, market, own) {
            var sum = parseFloat(purchase.val()) + parseFloat(additional.val()),
                own_percentage = sum == 0 ? 0 : parseFloat(own.val()) / sum * 100.0,
                profit = parseFloat(market.val()) - sum,
                profitability = parseFloat(market.val()) == 0 ? 0 : profit / parseFloat(market.val()) * 100.0,
                own_profit = profit * own_percentage / 100.0;
            $('.submit .info .own-percentage span').html(own_percentage.toFixed(0) + ' %');
            $('.submit .info .profitability span').html(profitability.toFixed(0) + ' %');
            $('.submit .info .own-profit span').html(own_profit.toFixed(2) + ' р.');
            $('.submit .info .profit span').html(profit.toFixed(2) + ' р.');
        }

        $(document).ready(function() {
            $('#{{ form.initialDate.month.vars.id }}').setRusMonths();

            var opened = $('a.opened'),
                closed = $('a.closed'),
                priv = $('#{{ form.private.vars.id }}'),
                participants = $('#participants');
            opened.click(function() {
                closed.removeClass('active');
                $(this).addClass('active');
                priv.val('0');
                participants.stop(true, true).slideUp(250);
            });
            closed.click(function() {
                opened.removeClass('active');
                $(this).addClass('active');
                priv.val('1');
                participants.stop(true, true).slideDown(250);
            });

            if (priv.val() == '1') closed.click();
            else opened.click();

            if (opened.hasClass('active')) participants.stop(true, true).slideUp(250);
            else participants.stop(true, true).slideDown(250);

            var purchase = $('#{{ form.purchaseCost.vars.id }}'),
                additional = $('#{{ form.additionalExpenses.vars.id }}'),
                market = $('#{{ form.marketCost.vars.id }}'),
                own = $('#{{ form.ownFunds.vars.id }}');
            purchase.on('change keypress', function() { recalc(purchase, additional, market, own); }).change();
            additional.on('change keypress', function() { recalc(purchase, additional, market, own); }).change();
            market.on('change keypress', function() { recalc(purchase, additional, market, own); }).change();
            own.on('change keypress', function() { recalc(purchase, additional, market, own); }).change();

            var documents = $('.documents'), doc_count = {{ form.files|length }};
            $('.add-document').click(function(e) {
                $(documents.attr('data-prototype').replace(/__name__/g, doc_count++)).appendTo(documents);
                e.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}