{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Все торги{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/lots/lots.css'
        'bundles/banklot/css/banklot/lots/_lots.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block head %}
    <style>
        form.filter-form { margin-top: 20px; }
        form.filter-form #{{ form.category.vars.id }} { width: 155px; z-index: 4; }
        form.filter-form #{{ form.search.vars.id }} { width: 675px; margin-left: -1px; }
        form.filter-form button { height: 36px; margin-left: 24px; }
    </style>
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    {% include 'BanklotBundle:Lots:lot_tabs.html.twig' with {'active': 'all'} %}
    <section class="filter">
        <div class="wrapper">
            <h1>Поиск по {{ lots_count|e }} торгам</h1>
            {{ form_start(form, {'attr': {'class': 'filter-form'}}) }}
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(form.search, {'attr': {'class': 'form-control', 'placeholder': 'Поиск по названию или никнейму'}}) }}
                        <button type="submit" class="btn-blue">Найти</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
    <section class="default-page">
        <div class="wrapper">
            <h1>Найдено {{ lots|length }} торгов</h1>
            <ul class="filter">
                <li class="status-1{{ filter_active == 'all' ? ' active' }}">
                    <a href="{{ path('lots_all', {'filter': 'all'}) }}">Все торги</a>
                </li>
                <li class="status-1{{ filter_active == 'opened' ? ' active' }}">
                    <a href="{{ path('lots_all', {'filter': 'opened'}) }}">Открытые</a>
                </li>
                <li class="status-1{{ filter_active == 'closed' ? ' active' }}">
                    <a href="{{ path('lots_all', {'filter': 'closed'}) }}">Закрытые</a>
                </li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th>Название лота</th>
                        <th>Категория</th>
                        <th>Дата реализ.</th>
                        <th>Автор</th>
                        <th>Рентабельн.</th>
                        <th>План. прибыль</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lot in lots %}
                        {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                        {% set profit = lot.marketCost - sum %}
                        {% set profitability = sum != 0 ? lot.marketCost / sum * 100.00 : 0 %}
                        {% set access = lot.owner.id == app.user.id or lot.hasParticipant(app.user) %}
                        {% set private = lot.private and not access %}
                        <tr{{ private ? ' class="private"'  }}>
                            <td class="name">
                                {% if private %}
                                    <span class="private">Закрытый торг</span>
                                    <a href="javascript:void(0);" class="part" data-lot="{{ path('api_send_lot_join', {'lot': lot.id}) }}">Участвовать</a>
                                {% else %}
                                    <a href="{{ path('lots_lot', {'lot': lot.id}) }}" class="status-{{ lot.status|e }}">{{ lot.name|e }}</a>
                                {% endif %}
                            </td>
                            <td>{{ lot.category.name|e }}</td>
                            <td>{{ lot.createdAt|date('d.m.y') }}</td>
                            <td>{{ lot.owner.nickname|e }}</td>
                            <td>{{ profitability|round(0) }} %</td>
                            <td>{{ profit|round(2) }} р.</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Ничего не найдено</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.part').click(function() {
                var url = $(this).attr('data-lot');
                $.ajax({
                    url: url,
                    dataType: "json",
                    method: 'GET',
                    cache: false,
                    success: function(data) {
                        alert('Запрос успешно отправлен!');
                    }
                });
            });
        });
    </script>
{% endblock %}