{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Редактирование лота {{ lot.name|e }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/lots/edit-lot.css'
        'bundles/banklot/css/banklot/lots/_edit-lot.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h1>{{ lot.name|e }} <span>{{ lot.category.name|e }}</span></h1>
                </div>
            </div>
            {% if lot.status == 0 %}
                {{ form_start(form0, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-5 checkbox">
                            <label>
                                {{ form_widget(form0.private) }}
                                {{ form0.private.vars.label }}
                            </label>
                        </div>
                    </div>
                    {% set errors = form0.files.vars.errors %}
                    <div class="form-group{{ errors|length ? ' has-error' }}">
                        {{ form_label(form0.files, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                        <div class="col-xs-5 documents0" data-prototype="{{ form_widget(form0.files.vars.prototype.file, {'attr': {'class': 'form-control'}})|e }}">
                            {% for child in form0.files %}
                                {{ form_widget(child.file, {'attr': {'class': 'form-control'}}) }}
                            {% endfor %}
                        </div>
                        <div class="col-xs-5">
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-xs-offset-2 col-xs-5">
                            <span class="help-block">фото или сканы документов, подтверждающие право собственности</span>
                            <span class="help-block">
                                <a href="#" class="add-document0">Добавить еще документ</a>
                            </span>
                        </div>
                    </div>
                    {% set errors = form0.description.vars.errors %}
                    <div class="form-group{{ errors|length ? ' has-error' }}">
                        {{ form_label(form0.description, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                        <div class="col-xs-5">
                            {{ form_widget(form0.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-xs-5">
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-5">
                            <button type="submit" class="btn-blue">Сохранить</button>
                        </div>
                    </div>
                {{ form_end(form0) }}
            {% elseif is_granted('ROLE_ADMIN') %}
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.status, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                        <div class="col-xs-5">
                            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                {{ form_end(form) }}
                <div id="form-2" class="status-form">
                    {{ form_start(form2, {'attr': {'class': 'form-horizontal'}}) }}
                        {% set errors = form2.purchaseCost.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.purchaseCost, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form2.purchaseCost, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form2.capitalization.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.capitalization, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form2.capitalization, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form2.additionalExpenses.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.additionalExpenses, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form2.additionalExpenses, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form2.sale.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.sale, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form2.sale, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form2.responsible.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.responsible, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form2.responsible, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form2.files.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.files, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5 documents1" data-prototype="{{ form_widget(form2.files.vars.prototype.file, {'attr': {'class': 'form-control'}})|e }}">
                                {% for child in form2.files %}
                                    {{ form_widget(child.file, {'attr': {'class': 'form-control'}}) }}
                                {% endfor %}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-xs-offset-2 col-xs-5">
                                <span class="help-block">фото или сканы документов, подтверждающие право собственности</span>
                                <span class="help-block">
                                    <a href="#" class="add-document1">Добавить еще документ</a>
                                </span>
                            </div>
                        </div>
                        {% set errors = form2.description.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form2.description, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form2.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-5">
                                <button type="submit" class="btn-blue">Сохранить</button>
                            </div>
                        </div>
                    {{ form_end(form2) }}
                </div>
                <div id="form-3" class="status-form">
                    {{ form_start(form3, {'attr': {'class': 'form-horizontal'}}) }}
                        {% set errors = form3.additionalExpenses.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form3.additionalExpenses, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form3.additionalExpenses, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form3.files.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form3.files, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5 documents2" data-prototype="{{ form_widget(form3.files.vars.prototype.file, {'attr': {'class': 'form-control'}})|e }}">
                                {% for child in form3.files %}
                                    {{ form_widget(child.file, {'attr': {'class': 'form-control'}}) }}
                                {% endfor %}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-xs-offset-2 col-xs-5">
                                <span class="help-block">фото или сканы документов, подтверждающие право собственности</span>
                                <span class="help-block">
                                    <a href="#" class="add-document2">Добавить еще документ</a>
                                </span>
                            </div>
                        </div>
                        {% set errors = form3.description.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form3.description, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form3.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-5">
                                <button type="submit" class="btn-blue">Сохранить</button>
                            </div>
                        </div>
                    {{ form_end(form3) }}
                </div>
                <div id="form-4" class="status-form">
                    {{ form_start(form4, {'attr': {'class': 'form-horizontal'}}) }}
                        {% set errors = form4.sale.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.sale, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.sale, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.additionalExpenses.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.additionalExpenses, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.additionalExpenses, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.capitalization.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.capitalization, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.capitalization, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.capitalizedPercent.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.capitalizedPercent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.capitalizedPercent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.capitalizedCertificatePercent.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.capitalizedCertificatePercent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.capitalizedCertificatePercent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.ownerPercent.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.ownerPercent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.ownerPercent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.responsiblePercent.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.responsiblePercent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.responsiblePercent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% set errors = form4.files.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.files, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5 documents3" data-prototype="{{ form_widget(form4.files.vars.prototype.file, {'attr': {'class': 'form-control'}})|e }}">
                                {% for child in form4.files %}
                                    {{ form_widget(child.file, {'attr': {'class': 'form-control'}}) }}
                                {% endfor %}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-xs-offset-2 col-xs-5">
                                <span class="help-block">фото или сканы документов, подтверждающие право собственности</span>
                                <span class="help-block">
                                    <a href="#" class="add-document3">Добавить еще документ</a>
                                </span>
                            </div>
                        </div>
                        {% set errors = form4.description.vars.errors %}
                        <div class="form-group{{ errors|length ? ' has-error' }}">
                            {{ form_label(form4.description, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                            <div class="col-xs-5">
                                {{ form_widget(form4.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-xs-5">
                                {% for error in errors %}
                                    <span class="help-block">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-5">
                                <button type="submit" class="btn-blue">Сохранить</button>
                            </div>
                        </div>
                    {{ form_end(form4) }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#{{ form.status.vars.id }}').change(function() {
                $('.status-form').stop(true, true).slideUp(250);
                $('#form-' + $(this).val()).stop(true, true).slideDown(250);
            });

            var documents0 = $('.documents0'), doc_count0 = {{ form0.files|length }};
            $('.add-document0').click(function(e) {
                $(documents0.attr('data-prototype').replace(/__name__/g, doc_count0++)).appendTo(documents0);
                e.preventDefault();
                return false;
            });
            var documents1 = $('.documents1'), doc_count1 = {{ form1.files|length }};
            $('.add-document1').click(function(e) {
                $(documents1.attr('data-prototype').replace(/__name__/g, doc_count1++)).appendTo(documents1);
                e.preventDefault();
                return false;
            });
            var documents2 = $('.documents2'), doc_count2 = {{ form2.files|length }};
            $('.add-document2').click(function(e) {
                $(documents2.attr('data-prototype').replace(/__name__/g, doc_count2++)).appendTo(documents2);
                e.preventDefault();
                return false;
            });
            var documents3 = $('.documents3'), doc_count3 = {{ form3.files|length }};
            $('.add-document3').click(function(e) {
                $(documents3.attr('data-prototype').replace(/__name__/g, doc_count3++)).appendTo(documents3);
                e.preventDefault();
                return false;
            });
            var documents4 = $('.documents4'), doc_count4 = {{ form4.files|length }};
            $('.add-document4').click(function(e) {
                $(documents4.attr('data-prototype').replace(/__name__/g, doc_count4++)).appendTo(documents04);
                e.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}