{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}{{ lot.name|e }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/lots/lot.css'
        'bundles/banklot/css/banklot/lots/_lot.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    <section class="default-page">
        <div class="wrapper">
            <a href="{{ lot.url|e }}" class="lot-url" target="_blank">{{ lot.url|length > 80 ? lot.url[:80]|e : lot.url|e }}</a>
            <h1>{{ lot.name|e }} <span>{{ lot.category.name|e }}</span></h1>
            <p class="owner">{{ lot.owner.nickname|e }}</p>
            {% if lot.files|length %}
                <ul class="files">
                    {% for file in lot.files if file.extension in ['jpg', 'jpeg', 'png', 'gif'] %}
                        <li>
                            <a href="#">
                                <img src="{{ asset(file.webPath|e) }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lot.status == 0 %}
                {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                {% set profit = lot.marketCost - sum %}
                {% set profitability = sum != 0 ? lot.marketCost / sum * 100.00 : 0 %}
                <h2>Финансовые данные</h2>
                <table class="lot-data">
                    <tr>
                        <td class="field">Начальная стоимость</td>
                        <td class="value">{{ lot.initialCost|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Рыночная стоимость</td>
                        <td class="value">{{ lot.marketCost|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемая стоимость покупки</td>
                        <td class="value">{{ lot.purchaseCost|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемые доп. затраты</td>
                        <td class="value">{{ lot.additionalExpenses|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемый срок капитализации</td>
                        <td class="value">{{ lot.capitalization|e }} месяцев</td>
                    </tr>
                    <tr>
                        <td class="field">Прогнозируемая рентабельность</td>
                        <td class="value">{{ profitability|round(0) }} %</td>
                    </tr>
                    <tr>
                        <td class="field">Прогнозируемая чистая прибыль</td>
                        <td class="value">{{ profit|round(2) }} руб.</td>
                    </tr>
                    {% if lot.responsible is not null and lot.responsible.id == app.user.id %}
                        <tr>
                            <td colspan="2" class="field">Для данного лота Вы назначены исполнителем!</td>
                        </tr>
                    {% endif %}
                </table>
                {% if lot_part %}
                    <h2>Данные ваших вложений</h2>
                    {% set own_percentage = sum != 0 ? own_funds / sum * 100.00 : 0 %}
                    {% set own_profit = profit * own_percentage / 100.00 * comis / 100.00 %}
                    {% set own_profitability = own_funds != 0 ? (own_funds + own_profit) / own_funds * 100.00 : 0 %}
                    <table class="lot-data">
                        <tr>
                            <td class="field">Вложенные средства</td>
                            <td class="value big">{{ own_funds|round(2) }} руб.</td>
                        </tr>
                        <tr>
                            <td class="field">Прогнозируемая рентабельность</td>
                            <td class="value">{{ own_profitability|round(0) }} %</td>
                        </tr>
                        <tr>
                            <td class="field">Прогнозируемая чистая прибыль</td>
                            <td class="value big bold">{{ own_profit|round(2) }} руб.</td>
                        </tr>
                    </table>
                {% endif %}
            {% elseif lot.status == 1 %}
                {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                {% set profit = lot.marketCost - sum %}
                {% set profitability = sum != 0 ? lot.marketCost / sum * 100.00 : 0 %}
                <h2>Общие данные по торгам</h2>
                <table class="lot-data">
                    <tr>
                        <td class="field">Начальная стоимость</td>
                        <td class="value">{{ lot.initialCost|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Рыночная стоимость</td>
                        <td class="value">{{ lot.marketCost|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемая стоимость покупки</td>
                        <td class="value">{{ lot.purchaseCost|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемые доп. затраты</td>
                        <td class="value">{{ lot.additionalExpenses|round(2) }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемый срок капитализации</td>
                        <td class="value">{{ lot.capitalization|e }} месяцев</td>
                    </tr>
                    <tr>
                        <td class="field">Прогнозируемая рентабельность</td>
                        <td class="value">{{ profitability|round(0) }} %</td>
                    </tr>
                    <tr>
                        <td class="field">Прогнозируемая чистая прибыль</td>
                        <td class="value big bold">{{ profit|round(2) }} руб.</td>
                    </tr>
                    {% if lot.responsible is not null and lot.responsible.id == app.user.id %}
                        <tr>
                            <td colspan="2" class="field">Для данного лота Вы назначены исполнителем!</td>
                        </tr>
                    {% endif %}
                </table>
                {% if lot_part %}
                    <h2>Данные ваших вложений</h2>
                    {% set own_percentage = sum != 0 ? own_funds / sum * 100.00 : 0 %}
                    {% set own_profit = profit * own_percentage / 100.00 * comis / 100.00 %}
                    {% set own_profitability = own_funds!= 0 ? (own_profit + own_funds) / own_funds * 100.00 : 0 %}
                    <table class="lot-data">
                        <tr>
                            <td class="field">Вложенные средства</td>
                            <td class="value big">{{ own_funds|round(2) }} руб.</td>
                        </tr>
                        <tr>
                            <td class="field">Прогнозируемая рентабельность</td>
                            <td class="value">{{ own_profitability|round(0) }} %</td>
                        </tr>
                        <tr>
                            <td class="field">Прогнозируемая чистая прибыль</td>
                            <td class="value big bold">{{ own_profit|round(2) }} руб.</td>
                        </tr>
                    </table>
                {% endif %}
            {% elseif lot.status == 2 %}
                {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                {% set profit = lot.sale - sum %}
                {% set profitability = sum != 0 ? lot.sale / sum * 100.00 : 0 %}
                <h2>Общие данные по торгам</h2>
                <table class="lot-data">
                    <tr>
                        <td class="field">Начальная стоимость</td>
                        <td class="value">{{ lot.initialCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Рыночная стоимость</td>
                        <td class="value">{{ lot.marketCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Стоимость покупки</td>
                        <td class="value">{{ lot.purchaseCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемый срок капитализации</td>
                        <td class="value">{{ lot.capitalization|e }} месяцев</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемая стоимость продажи</td>
                        <td class="value">{{ lot.sale|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Планируемые доп. затраты</td>
                        <td class="value">{{ lot.additionalExpenses|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Прогнозируемая рентабельность</td>
                        <td class="value">{{ profitability|round(0) }} %</td>
                    </tr>
                    <tr>
                        <td class="field">Прогнозируемая чистая прибыль</td>
                        <td class="value big bold">{{ profit|round(2) }} руб.</td>
                    </tr>
                    {% if lot.responsible is not null and lot.responsible.id == app.user.id %}
                        <tr>
                            <td colspan="2" class="field">Для данного лота Вы назначены исполнителем!</td>
                        </tr>
                    {% endif %}
                </table>
                {% if lot_part %}
                    <h2>Данные ваших вложений</h2>
                    {% set own_percentage = lot.purchaseCost != 0 ? own_funds / lot.purchaseCost * 100.00 : 0 %}
                    {% set own_profit = own_percentage != 0 ? profit * own_percentage / 100.00 * comis / 100.00 : 0 %}
                    {% set own_profitability = own_funds != 0 ? (own_profit + own_funds) / own_funds * 100.00 : 0 %}
                    <table class="lot-data">
                        <tr>
                            <td class="field">Вложенные средства</td>
                            <td class="value big">{{ own_funds|round(2) }} руб.</td>
                        </tr>
                        <tr>
                            <td class="field">Прогнозируемая рентабельность</td>
                            <td class="value">{{ own_profitability|round(0) }} %</td>
                        </tr>
                        <tr>
                            <td class="field">Прогнозируемая чистая прибыль</td>
                            <td class="value big bold">{{ own_profit|round(2) }} руб.</td>
                        </tr>
                    </table>
                {% endif %}
            {% elseif lot.status == 3 %}
                <h2>Общие данные по торгам</h2>
                <table class="lot-data">
                    <tr>
                        <td class="field">Сумма сбора</td>
                        <td class="value">{{ lot.purchaseCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Затраты</td>
                        <td class="value">{{ lot.additionalExpenses|e }} руб.</td>
                    </tr>
                </table>
                {% if lot_part %}
                    <h2>Данные ваших вложений</h2>
                    {% set own_percentage = lot.purchaseCost != 0 ? own_funds / lot.purchaseCost * 100.00 : 0 %}
                    {% set own_refund = (lot.purchaseCost - lot.additionalExpenses) * own_percentage / 100.00 %}
                    <table class="lot-data">
                        <tr>
                            <td class="field">Вложенные средства</td>
                            <td class="value big">{{ own_funds|round(2) }} руб.</td>
                        </tr>
                        <tr>
                            <td class="field">Сумма возврата</td>
                            <td class="value big">{{ own_refund|round(2) }} руб.</td>
                        </tr>
                    </table>
                {% endif %}
            {% elseif lot.status == 4 %}
                <h2>Общие данные по торгам</h2>
                {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                {% set profit = lot.sale - sum %}
                {% set profitability = sum != 0 ? lot.sale / sum * 100.00 : 0 %}
                <table class="lot-data">
                    <tr>
                        <td class="field">Начальная стоимость</td>
                        <td class="value">{{ lot.initialCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Рыночная стоимость</td>
                        <td class="value">{{ lot.marketCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Стоимость покупки</td>
                        <td class="value">{{ lot.purchaseCost|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Стоимость продажи</td>
                        <td class="value">{{ lot.sale|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Дополнительные затраты</td>
                        <td class="value">{{ lot.additionalExpenses|e }} руб.</td>
                    </tr>
                    <tr>
                        <td class="field">Срок капитализации</td>
                        <td class="value">{{ lot.capitalization|e }} месяцев</td>
                    </tr>
                    <tr>
                        <td class="field">Рентабельность</td>
                        <td class="value">{{ profitability|round(0) }} %</td>
                    </tr>
                    <tr>
                        <td class="field">Чистая прибыль</td>
                        <td class="value big bold">{{ profit|round(2) }} руб.</td>
                    </tr>
                    {% if lot.responsible is not null and lot.responsible.id == app.user.id %}
                        <tr>
                            <td colspan="2" class="field">Для данного лота Вы назначены исполнителем!</td>
                        </tr>
                    {% endif %}
                </table>
                {% if lot_part %}
                    <h2>Данные ваших вложений</h2>
                    {% set own_percentage = lot.purchaseCost != 0 ? own_funds / lot.purchaseCost * 100.00 : 0 %}
                    {% set own_profit = profit * own_percentage / 100.00 * comis / 100.00 %}
                    {% set own_profitability = own_funds != 0 ? (own_profit + own_funds) / own_funds * 100.00 : 0 %}
                    <table class="lot-data">
                        <tr>
                            <td class="field">Вложенные средства</td>
                            <td class="value big">{{ own_funds|round(2) }} руб.</td>
                        </tr>
                        <tr>
                            <td class="field">Рентабельность</td>
                            <td class="value">{{ own_profitability|round(0) }} %</td>
                        </tr>
                        <tr>
                            <td class="field">Чистая прибыль</td>
                            <td class="value big bold">{{ own_profit|round(2) }} руб.</td>
                        </tr>
                    </table>
                {% endif %}
            {% endif %}
            <h2>Описание</h2>
            <div class="description">
                {{ lot.description ? lot.description|raw : 'Без описания' }}
            </div>
            <div class="sidebar">
                {% if (is_granted('ROLE_ADMIN') and lot.status != 4) or (lot.owner.id == app.user.id and lot.status == 0) %}
                    <a href="{{ path('lots_edit', {'lot': lot.id}) }}" class="btn-grey btn-a">Редактировать лот</a>
                {% endif %}
                <div class="status-{{ lot.status|e }}">
                    {% if lot.status == 0 %}
                        {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                        <h3>Цифры по лоту</h3>
                        <p>
                            Итоговая сумма сбора
                            <span>{{ sum|round(2) }} р.</span>
                        </p>
                        <p>
                            Собранная сумма
                            <span>{{ lot_funds|round(2) }} р.</span>
                        </p>
                        <p>
                            Осталось собрать
                            <span>{{ (sum - lot_funds)|round(2) }} р.</span>
                        </p>
                        <hr>
                        <a href="javascript:void(0);" class="btn-blue btn-a">Вложить средства</a>
                        <div class="form"{{ form.sum.vars.errors|length ? ' style="display: block;"' }}>
                            {{ form_start(form) }}
                                {% set errors = form.sum.vars.errors %}
                                <div class="form-group widget{{ errors|length ? ' has-error' }}">
                                    {{ form_label(form.sum) }}
                                    {{ form_widget(form.sum, {'attr': {'class': 'form-control'}}) }}
                                    {% for error in errors %}
                                        <span class="help-block">{{ error.message }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>Прогнозируемая рентабельность</label>
                                    <p class="profitability">0 %</p>
                                </div>
                                <div class="form-group">
                                    <label>Прогнозируемая чистая прибыль</label>
                                    <p class="profit">0 р.</p>
                                </div>
                                <button type="submit" class="btn-blue">Продолжить</button>
                            {{ form_end(form) }}
                        </div>
                    {% elseif lot.status == 1 %}
                        <p>Лот на стадии покупки</p>
                        Вы будете уведомлены, когда лот будет выкуплен нашими специалистами.
                    {% elseif lot.status == 2 %}
                        <p>Лот куплен</p>
                        Вы будете уведомлены, когда лот будет капитализирован.
                    {% elseif lot.status == 3 %}
                        <p>Лот не куплен. Деньги возвращены на Ваш счёт</p>
                        К сожалению, лот не удалось выкупить. Деньги с вычетом дополнительных затрат возвращены на ваш счёт.
                    {% elseif lot.status == 4 %}
                        <p>Лот капитализирован. Прибыль перечислена на ваш счёт</p>
                        Поздравляем! Лот успешно капитализирован. Сумма прибыли перечислена на ваш счёт. Благодарим за использование нашего сервиса.
                    {% endif %}
                </div>
            </div>
            <h2>Комментарии</h2>
            <div class="comments">
                {% for comment in lot.comments %}
                    <p>
                        <strong>
                            <span class="text-muted">{{ comment.createdAt|date('d.m.y H:i') }}</span>
                            {{ comment.user.nickname|e }} написал:
                        </strong>
                        {{ comment.text|e }}
                    </p>
                {% else %}
                    <p>Пока нет ни одного комментария</p>
                {% endfor %}
                {{ form_start(form_comment, {'attr': {'class': 'form-horizontal'}}) }}
                    {% set errors = form_comment.text.vars.errors %}
                    <div class="form-group{{ errors|length ? ' has-error' }}">
                        {{ form_label(form_comment.text, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
                        <div class="col-xs-5">
                            {{ form_widget(form_comment.text, {'attr': {'class': 'form-control', 'placeholder': form_comment.text.vars.label}}) }}
                        </div>
                        <div class="col-xs-5">
                            {% for error in errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-5">
                            <button type="submit" class="btn-blue">Оставить комментарий</button>
                        </div>
                    </div>
                {{ form_end(form_comment) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            {% if lot.status == 0 %}
                $('.sidebar .status-0 a').click(function () {
                    var form = $(this).parent().find('.form');

                    if (form.is(':visible')) form.stop(true, true).fadeOut(250);
                    else form.stop(true, true).fadeIn(250);
                });

                function recalc(funds) {
                    var sum = {{ (lot.purchaseCost + lot.additionalExpenses)|e }},
                        percentage = sum != 0 ? funds / sum * 100.0 : 0,
                        profit = ({{ lot.marketCost|e }} - sum) * percentage / 100.0,
                        profitability = {% if lot.marketCost != 0 %}profit / {{ lot.marketCost|e }} * 100.0{% else %}0{% endif %};
                    $('.sidebar .status-0 .form .profitability').html(profitability.toFixed(0) + ' %');
                    $('.sidebar .status-0 .form .profit').html(profit.toFixed(2) + ' р.');
                }

                $('#{{ form.sum.vars.id }}').on('change keypress', function() {
                    recalc($(this).val());
                }).change();
            {% endif %}
        });
    </script>
{% endblock %}