<div class="lot-tabs">
    <div class="wrapper">
        <ul>
            {% set active = active|default('all') %}
            <li{{ active == 'all' ? ' class="active"' }}>
                <a href="{{ path('lots_all') }}">Все торги</a>
            </li>
            <li{{ active == 'own' ? ' class="active"' }}>
                <a href="{{ path('lots_own') }}">Созданные мной</a>
            </li>
            <li{{ active == 'part' ? ' class="active"' }}>
                <a href="{{ path('lots_part') }}">В которых участвую</a>
            </li>
        </ul>
    </div>
</div>