{% extends 'BanklotBundle::layout.html.twig' %}

{% block title %}Созданные мной торги{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter = 'scssphp, cssrewrite' output = 'css/lots/lots.css'
        'bundles/banklot/css/banklot/lots/_lots.scss'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'BanklotBundle::header.html.twig' %}
    {% include 'BanklotBundle:Lots:lot_tabs.html.twig' with {'active': 'own'} %}
    <section class="default-page">
        <div class="wrapper">
            <h2>Создал {{ lots_count|e }} торгов</h2>
            <ul class="filter">
                <li class="all{{ filter_active == '0' ? ' active' }}">
                    <a href="{{ path('lots_own', {'filter': 0}) }}">Все торги</a>
                </li>
                <li class="status-1{{ filter_active == '1' ? ' active' }}">
                    <a href="{{ path('lots_own', {'filter': 1}) }}">На покупке</a>
                </li>
                <li class="status-3{{ filter_active == '2' ? ' active' }}">
                    <a href="{{ path('lots_own', {'filter': 2}) }}">Не куплены</a>
                </li>
                <li class="status-2{{ filter_active == '3' ? ' active' }}">
                    <a href="{{ path('lots_own', {'filter': 3}) }}">Куплены</a>
                </li>
                <li class="status-4{{ filter_active == '4' ? ' active' }}">
                    <a href="{{ path('lots_own', {'filter': 4}) }}">Капитализ.</a>
                </li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th>Название лота</th>
                        <th>Категория</th>
                        <th>Дата реализ.</th>
                        <th>Сумма вложений</th>
                        <th>Рентаб.</th>
                        <th>Прибыль</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lot in lots %}
                        {% set profit = 0 %}
                        {% set profitability = 0 %}
                        {% if lot.status == 0 %}
                            {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                            {% set profit = lot.marketCost - sum %}
                            {% set profitability = sum != 0 ? lot.marketCost / sum * 100.00 : 0 %}
                        {% elseif lot.status == 1 %}
                            {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                            {% set profit = lot.marketCost - sum %}
                            {% set profitability = sum != 0 ? profit / sum * 100.00 : 0 %}
                        {% elseif lot.status == 2 %}
                            {% set sum = lot.sale + lot.additionalExpenses %}
                            {% set profit = sum - lot.purchaseCost %}
                            {% set profitability = sum != 0 ? sum / lot.purchaseCost * 100.00 : 0 %}
                        {% elseif lot.status == 4 %}
                            {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                            {% set profit = lot.sale - sum %}
                            {% set profitability = lot.sale != 0 ? lot.sale / sum * 100.00 : 0 %}
                        {% endif %}
                        <tr>
                            <td class="name status-{{ lot.status|e }}">
                                <a href="{{ path('lots_lot', {'lot': lot.id}) }}">{{ lot.name|e }}</a>
                            </td>
                            <td>{{ lot.category.name|e }}</td>
                            <td>{{ lot.createdAt|date('d.m.y') }}</td>
                            <td>
                                {% set sum = 0 %}
                                {% for money in lot.moneys if money.user == app.user %}{% set sum = sum + money.sum %}{% endfor %}
                                {{ sum|round(2) }} р.
                            </td>
                            <td>{{ profitability|round(0) }} %</td>
                            <td>{{ profit|round(2) }} р.</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Ничего не найдено</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}