section.access-denied {
  .wrapper {
    padding: 190px 0;

    .block {
      background: #f4f7e7;
      margin: 0 auto;
      padding: 40px 0 40px;
      width: 730px;

      h1 {
        font-size: 52px;
        margin-bottom: 14px;
        text-align: center;
      }

      p {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 38px;
        text-align: center;
      }
    }
  }
}