header.registration {
  background: $background-color-light;
  height: 76px;

  .wrapper {
    width: 1280px;
  }

  .logo-dark {
    border: none;
    left: 31px;
    position: absolute;
    top: 25px;
  }

  .user {
    background: url('../#{$path-images}icon-user-light.png') left 2px no-repeat;
    color: #1c2023;
    font-weight: bold;
    padding-left: 24px;
    position: absolute;
    right: 27px;
    top: 29px;
  }

  + .steps {
    background: #22292e;
    height: 44px;

    .wrapper {
      width: 1280px;

      ul {
        height: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        li {
          color: #747779;
          display: inline-block;
          height: 100%;
          padding: 12px 50px 0 30px;
          position: relative;

          &:before {
            border: {
              bottom: 22px solid transparent;
              left: 20px solid transparent;
              right: 20px solid transparent;
              top: 22px solid transparent;
            }
            content: '';
            height: 44px;
            left: -20px;
            position: absolute;
            top: 0;
            width: 40px;
            z-index: 2;
          }

          &.last:after {
            border: {
              bottom: 22px solid transparent;
              left: 20px solid transparent;
              right: 20px solid transparent;
              top: 22px solid transparent;
            }
            content: '';
            height: 44px;
            right: -40px;
            position: absolute;
            top: 0;
            width: 40px;
            z-index: 2;
          }

          a {
            color: #747779;

            &:focus,
            &:hover {
              border-bottom-color: transparent;
              color: #747779;
            }
          }

          &.normal {
            $color: #22292e;
            background: $color;

            &:before {
              border: {
                bottom-color: $color;
                top-color: $color;
              }
            }

            &.last:after {
              border-left-color: $color;
            }
          }

          &.light {
            $color: #2d353b;
            background: $color;

            &:before {
              border: {
                bottom-color: $color;
                top-color: $color;
              }
            }

            &.last:after {
              border-left-color: $color;
            }
          }

          &.lighter {
            $color: #384148;
            background: $color;

            &:before {
              border: {
                bottom-color: $color;
                top-color: $color;
              }
            }

            &.last:after {
              border-left-color: $color;
            }

            a {
              color: #fafafa;

              &:focus,
              &:hover {
                color: #fafafa;
              }
            }
          }
        }
      }
    }
  }
}