@import '../banklot/variables';
@import '../banklot/vendor-prefixes';
@import 'registration-header';
@import '../banklot/form-page';

section.form-page {
  form {
    .add-certificate {
      span {
        display: block;
        font-weight: bold;
      }

      a {
        border-bottom-color: #1c2023;
        color: #1c2023;

        &:focus,
        &:hover {
          border-bottom-color: #1c2023;
          color: #1c2023;
        }

        &.add-certificate {
          border-bottom-color: transparent;
          color: #007ed9;

          &:focus,
          &:hover {
            border-bottom-color: #66a3e3;
            color: #007ed9;
          }
        }
      }
    }

    .certificate {
      display: none;
    }

    .submit {
      background: rgba(103, 114, 122, 0.1);
      @include border-radius(3px);
      margin-top: 52px;
      padding: 23px 0 55px;

      p {
        color: #a5a9ac;
        font-size: 12px;
        margin: 15px 0 0;

        a {
          border-bottom: 1px solid #a5a9ac;
          color: #a5a9ac;

          &:focus,
          &:hover {
            border-bottom-color: #a5a9ac;
            color: #a5a9ac;
          }
        }
      }
    }
  }
}