@import '../banklot/variables';
@import '../banklot/vendor-prefixes';

section.form-page {
  background: #00b82b;
  padding: 61px 0 68px;

  h1 {
    color: #fff;
    margin-bottom: 20px;
    text-shadow: -1px 1px 2px #005300;
  }

  form {
    .form-group {
      input,
      select,
      textarea {
        border-color: #00821e;
      }

      .help-block.green {
        color: #004710;
      }

      &.closed {
        .col-xs-6:first-child {
          padding: 0;
        }

        .col-xs-6:last-child {
          padding-right: 0;
        }

        a {
          background: #f9fafb;
          @include background-linear-gradient(0deg, #cdcfd1 0%, #f9fafb 100%);
          border: 1px solid #00821e;
          color: #1c2023;
          display: inline-block;
          font-size: 15px;
          height: 38px;
          padding-top: 7px;
          text-align: center;
          width: 50%;

          &.opened {
            @include border-bottom-left-radius(3px);
            border-right: none;
            @include border-top-left-radius(3px);
          }

          &.closed {
            @include border-bottom-right-radius(3px);
            border-left: none;
            @include border-top-right-radius(3px);
          }

          &.active {
            background: #393c44;
            color: #00b429;
            @include box-shadow(inset 0px 3px 6px -2px #000);
            text-shadow: -1px 1px 2px #005300;
          }
        }
      }
    }

    h2 {
      color: #fafafa;
      font-weight: normal;
      margin-bottom: 14px;
      text-shadow: -1px 1px 2px #005300;
    }

    .submit {
      background: #2e3337;
      @include border-radius(3px);
      color: #fdfdfd;
      margin-top: 52px;
      padding: 21px 30px 40px;
      position: relative;

      h2 {
        text-shadow: none;
      }

      .row {
        margin: 0;

        .form-group {
          margin: 0 0 20px;
          padding: 0 26px 0 0;
          width: 280px;

          label {
            margin-bottom: 3px;
          }

          input {
            border: none;
          }

          .currency:after,
          .months:after {
            color: #1c2023;
            right: 20px;
          }
        }
      }

      .info {
        background: url('../#{$path-images}lots/add-lot-separator.png') no-repeat;
        font-size: 13px;
        height: 400px;
        line-height: 28px;
        padding: 10px 0 0 66px;
        position: absolute;
        right: 0px;
        top: 57px;
        width: 360px;

        p {
          margin: 0 0 21px;

          span {
            display: block;
            font-size: 25px;

            &.big {
              font-size: 42px;
              font-weight: bold;
              color: #009bff;
            }
          }
        }
      }

      button {
        margin-top: 40px;
      }
    }
  }
}