@import '../banklot/variables';
@import '../banklot/default-page';

section.default-page {
  .wrapper {
    h1 {
      span {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-size: 13px;
        background: #e2e4e9;
        border-radius: 12px;
        padding: 4px 12px;
        display: inline-block;
        bottom: 5px;
        position: relative;
      }
    }

    .status-form { display: none; }
  }
}