@import '../banklot/variables';
@import '../banklot/vendor-prefixes';
@import '../banklot/default-page';

.lot-tabs {
  background: #e7e9ee;
  height: 49px;

  ul {
    margin: 0;
    padding: 8px 0 0 165px;

    li {
      display: inline-block;
      height: 32px;
      margin-right: 15px;
      padding: 6px 15px 0;

      a {
        color: #6f7073;

        &:focus,
        &:hover {
          color: #6f7073;
          border-bottom-color: #6f7073;
        }
      }

      &.active {
        background: #87898c;
        @include border-radius(3px);
        @include box-shadow(inset 2px 3px 4px -2px rgba(0, 0, 0, 0.35));

        a,
        a:focus,
        a:hover {
          border-bottom-color: transparent;
          color: #fff;
        }
      }
    }
  }
}

section.filter {
  background: #e7e9ee;
  height: 240px;
  padding: 50px 0 0 0;

  h1 {
    font-size: 51px;
  }
}

section.default-page {
  .filter {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 27px;

    li {
      display: inline-block;
      margin-left: 11px;
      padding: 3px 10px;

      &.all {
        a {
          color: #1c2023;

          &:focus,
          &:hover {
            border-bottom-color: #1c2023;
            color: #1c2023;
          }
        }
      }

      &.status-1 {
        a {
          color: #6f6f6f;

          &:hover,
          &:focus {
            border-bottom-color: #949494;
            color: #6f6f6f;
          }
        }
      }

      &.status-2 {
        a {
          color: #b3a50a;

          &:focus,
          &:hover {
            border-bottom-color: #e0dbac;
            color: #b3a50a;
          }
        }
      }

      &.status-3 {
        a {
          color: #7a0000;

          &:focus,
          &:hover {
            border-bottom-color: #9c5151;
            color: #7a0000;
          }
        }
      }

      &.status-4 {
        a {
          color: #5c9146;

          &:focus,
          &:hover {
            border-bottom-color: #c3d4bc;
            color: #5c9146;
          }
        }
      }

      &.active {
        background: #b8bbc3;
        @include border-radius(13px);
        @include box-shadow(inset 2px 3px 4px -2px rgba(0, 0, 0, 0.35));
        height: 26px;
        padding: 3px 10px;

        a,
        a:focus,
        a:hover {
          border-bottom-color: transparent;
          color: #4f5259;
        }
      }
    }
  }

  table {
    margin-top: 20px;

    td.name {
      width: 257px;
      position: relative;

      &:before {
        background: transparent;
        @include border-radius(100%);
        content: '';
        display: block;
        height: 5px;
        left: 4px;
        position: absolute;
        top: 21px;
        width: 5px;
      }

      &.status-1:before {
        background: #6f6f6f;
      }

      &.status-2:before {
        background: #b3a50a;
      }

      &.status-3:before {
        background: #7a0000;
      }

      &.status-4:before {
        background: #5c9146;
      }

      &:after {
        @include background-linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
        width: 20px;

      }

      a {
        display: inline-block;
        max-width: 227px;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
      }
    }

    tr.private {
      background: #eaebec;
      color: #808389;

      td {
        &:first-child {
          @include border-bottom-left-radius(3px);
          @include border-top-left-radius(3px);
        }

        &:last-child {
          @include border-bottom-right-radius(3px);
          @include border-top-right-radius(3px);
        }

        &.name {
          color: #808389;
          font-style: italic;

          &:after {
            display: none;
          }

          .private {
            position: relative;
            margin-left: 7px;

            &:before {
              content: '';
              display: block;
              background: url('../#{$path-images}lots/private.png') no-repeat;
              height: 12px;
              width: 9px;
              position: absolute;
              top: 1px;
              left: -14px;
            }
          }

          a.part {
            border: 1px solid #9b9da2;
            @include border-radius(3px);
            color: #808389;
            font-size: 12px;
            padding: 0 7px;
            font-style: normal;
            display: inline-block;
            margin-bottom: -5px;
            margin-left: 6px;

            &:focus,
            &:hover {
              background: #808389;
              color: #fafafa;
            }
          }
        }
      }
    }
  }
}