@import '../banklot/variables';
@import '../banklot/vendor-prefixes';
@import '../banklot/default-page';

section.default-page {
  .lot-url {
    display: inline-block;
    color: #0f6dc4;
    font-size: 13px;
    border-bottom: 1px solid #a5bfe3;

    &:focus,
    &:hover {
      color: #0f6dc4;
    }
  }

  h1 {
    margin-bottom: 0 !important;
    max-width: 700px;

    span {
      font-family: 'PT Sans', sans-serif;
      font-weight: normal;
      font-size: 13px;
      background: #e2e4e9;
      border-radius: 12px;
      padding: 4px 12px;
      display: inline-block;
      bottom: 5px;
      position: relative;
    }
  }

  .owner {
    font-weight: bold;
    margin-top: 3px;
  }

  .files {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 700px;

    li {
      display: inline-block;
      margin: 0 10px 5px 0;

      img {
        border: none;
        max-width: 140px;
        max-height: 90px;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-family: 'Helvetica Neue', sans-serif;
    color: #8f8f8f;
    font-weight: normal;
    border-bottom: 1px solid #d8d8d8;
    width: 700px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    margin: 30px 0 13px 0;
  }

  .lot-data {
    .field {
      padding: 0 15px 16px 0;
      width: 255px;
      vertical-align: top;
    }

    .value {
      padding: 0;
      vertical-align: top;

      &.big {
        font-size: 16px;
      }

      &.bold {
        font-weight: bold;
      }
    }
  }

  .description {
    width: 700px;
  }

  .sidebar {
    .btn-grey {
      margin-bottom: 22px;
      width: 100%;
    }

    .status-0 {
      background: #fff;
      border: 1px solid #99cbed;
      font-size: 14px;
      padding: 23px 21px 23px;
      position: relative;

      h3 {
        text-transform: uppercase;
        font-family: 'Helvetica Neue', sans-serif;
        color: #0f6dc4;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 1px;
        padding-bottom: 3px;
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 7px;

        span {
          display: block;
          text-align: right;
          font-size: 28px;
        }
      }

      hr {
        border-top: 1px solid #99cbed;
        margin: 10px 0 20px;
      }

      .btn-blue {
        padding-left: 0;
        padding-right: 0;
        font-size: 15px;
        width: 100%;
      }

      .form {
        position: absolute;
        left: -282px;
        top: -1px;
        bottom: -1px;
        width: 282px;
        background: rgba(168, 210, 239, 0.9);
        @include border-bottom-left-radius(3px);
        @include border-top-left-radius(3px);
        display: none;
        padding: 23px 21px 23px;

        p {
          font-size: 28px;
        }
      }

      .form:after {
        content: '';
        position: absolute;
        right: -16px;
        bottom: 40px;
        border: 8px solid transparent;
        border-left-color: rgba(168, 210, 239, 0.9);
        z-index: 4;
      }
    }

    .status-1 {
      background: #e1e1e1;
      font-size: 13px;
      padding: 23px 21px 23px;
      @include border-radius(3px);

      p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }

    .status-2 {
      background: #fdfb78;
      font-size: 13px;
      padding: 23px 21px 23px;
      @include border-radius(3px);

      p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }

    .status-3 {
      background: #d72121;
      font-size: 13px;
      padding: 23px 21px 23px;
      color: #fff;
      @include border-radius(3px);

      p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }

    .status-4 {
      background: #c1f5b9;
      font-size: 13px;
      padding: 23px 21px 23px;
      @include border-radius(3px);

      p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }

    .balance {
      background: #e1e1e1;
      font-size: 13px;
      padding: 23px 21px 23px;
      @include border-radius(3px);

      h3 {
        text-transform: uppercase;
        font-family: 'Helvetica Neue', sans-serif;
        color: #8f8f8f;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 1px;
        padding-bottom: 3px;
        margin-bottom: 24px;
      }

      p {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 7px;

        span {
          display: block;
          font-size: 24px;
        }

        &.all {
          margin-bottom: 20px;

          span {
            font-weight: bold;
            font-size: 32px;
          }
        }
      }

      hr {
        border-top: 1px solid #bfc6cc;
        margin: 10px 0;
      }

      a,
      a:focus,
      a:hover {
        background: #32c4ff;
        @include background-linear-gradient(0deg, #1e94ff 0%, #32c4ff 100%);
        border: 0;
        border-bottom: 1px solid #005e8d;
        color: #f9f9f9;
        font-size: 18px;
        height: 48px;
        text-shadow: 1px 1px 0 #00539b;
        margin-bottom: 0;
      }
    }
  }

  .comments {
    p {
      margin-bottom: 20px;
    }
  }
}