@import '../banklot/variables';
@import '../banklot/default-page';

section.default-page {
  p {
    font-size: 18px;
    line-height: 28px;
    margin: 40px 0;

    span {
      color: #ed1b23;
    }
  }

  .block {
    background: #eee;
    padding: 20px;
  }
}