@import '../banklot/variables';
@import '../banklot/vendor-prefixes';
@import '../banklot/default-page';

section.default-page {
  .wrapper {
    min-height: 600px;

    table {
      width: 700px;

      .sum {
        color: #009211;
        font-weight: bold;
      }

      .negative {
        color: #b90808;
      }

      tr.disabled {
        .sum {
          color: #808389;
        }
      }
    }

    .sidebar {
      .balance {
        background: #e1e1e1;
        @include border-radius(3px);
        font-size: 13px;
        padding: 23px 21px 23px;

        h3 {
          color: #8f8f8f;
          font-family: $font-helvetica-neue;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: 1px;
          margin-bottom: 24px;
          padding-bottom: 3px;
          text-transform: uppercase;
        }

        p {
          font-size: 14px;
          font-weight: normal;
          line-height: 24px;
          margin-bottom: 7px;

          span {
            display: block;
            font-size: 24px;
          }

          &.all {
            line-height: 30px;
            margin-bottom: 20px;

            span {
              font-size: 32px;
              font-weight: bold;
            }
          }
        }

        hr {
          border-top: 1px solid #bfc6cc;
          margin: 10px 0;
        }

        .btn-blue {
          width: 100%;
        }
      }

      .btn-grey {
        margin-top: 22px;
        width: 100%;
      }
    }
  }
}