html,
body {
  background: #252525;
  color: #1c2023;
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: 'Fedra Sans Pro';
  font-weight: bold;
  margin: 0;
}

section {
  background: #fff;
  position: relative;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

.logo {
  background: url('#{$banklot-images-path}logo.png') no-repeat;
  height: 18px;
  width: 108px;

  &-dark {
    background: url('#{$banklot-images-path}logo-dark.png') no-repeat;
    height: 21px;
    width: 124px;
  }
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

header {
  background: #1c2023;
  height: 54px;
  position: relative;

  .logo-position {
    display: block;
    left: 0;
    position: absolute;
    top: 18px;
  }

  nav {
    left: 151px;
    position: absolute;
    top: 18px;

    ul {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 30px;
        padding-left: 28px;
        position: relative;

        .submenu {
          position: absolute;
          left: 0;
          top: 36px;
          z-index: 4;
          border: 1px solid #dadada;
          border-top: none;
          color: #17181a;
          min-width: 100px;
          font-size: 12px;
          font-weight: normal;
          padding: 20px 20px 0;
          display: none;
          background: #fff;

          h3 {
            font-size: 16px;
            margin-bottom: 20px;
          }

          p {
            margin: 0 0 20px;

            a,
            a:focus,
            a:hover {
              color: #0f60c4;
              border-bottom: 1px solid #84addf;
            }
          }
        }

        .submenu:before {
          content: '';
          left: 30px;
          height: 16px;
          width: 16px;
          border: 8px solid transparent;
          border-bottom-color: #fff;
          top: -16px;
          display: block;
          z-index: 8;
          position: absolute;
        }

        &.auctions {
          background: url('#{$banklot-images-path}/icon-auctions.png') left 3px no-repeat;
        }

        &.admin {
          .submenu {
            width: 150px;
          }
        }

        &.statistics {
          background: url('#{$banklot-images-path}/icon-statistics.png') no-repeat;
        }

        &.notices {
          background: url('#{$banklot-images-path}/icon-notices.png') left 4px no-repeat;
          position: relative;

          .count {
            position: absolute;
            left: 0;
            width: 24px;
            height: 12px;
            top: 0;
            z-index: 4;
            margin-left: -15px;

            span {
              background: #ed1b23;
              font-size: 8px;
              color: #fff;
              height: 12px;
              position: absolute;
              top: 0;
              text-align: center;
              right: 0;
              display: block;
              min-width: 12px;
              border-radius: 6px;
              padding: 0 4px 0 2px;
            }
          }

          .submenu {
            width: 400px;
          }
        }

        &.user {
          background: url('#{$banklot-images-path}/icon-user.png') left 3px no-repeat;

          .submenu {
            width: 160px;
          }
        }
      }
    }
  }

  .add-lot-button {
    @include banklot-linear-gradient(0deg, #009011 0%, #00b92c 100%);
    @include banklot-border-radius(3px);
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    padding: 7px 0 0 19px;
    position: absolute;
    right: 0;
    top: 8px;
    @include banklot-text-shadow(-1px 1px 2px #005300);
    width: 153px;

    &:after {
      background: url('#{$banklot-images-path}icon-add-lot.png') no-repeat;
      content: '';
      height: 14px;
      position: absolute;
      right: 13px;
      top: 12px;
      width: 14px;
    }

    &:focus,
    &:hover {
      color: #fff;
    }

    &.adding {
      background: #00b92c;
      @include banklot-border-bottom-left-radius(0);
      @include banklot-border-bottom-right-radius(0);
      top: 16px;
    }
  }
}

form {
  .form-group {
    margin-bottom: 22px;

    label {
      font-weight: normal;
      text-align: left !important;
    }

    .widget {
      padding-right: 0;
    }

    input,
    select {
      height: 38px;
    }

    input,
    textarea {
      @include banklot-box-shadow(inset 0px 3px 6px -4px #51626f);
    }

    input,
    select,
    textarea {
      border: 1px solid #c7d0d7;
      @include banklot-border-radius(3px);
    }

    select {
      background: #f9fafb;
      @include banklot-linear-gradient(0deg, #cdcfd1 0%, #f9fafb 100%);
    }

    textarea {
      height: 90px;
    }

    input[type="checkbox"] {
      height: auto;
      @include banklot-box-shadow(none);
    }

    .date {
      .day {
        padding-right: 0;
      }

      .year {
        padding-left: 0;
      }
    }

    .help-block {
      font-size: 12px;
    }
  }

  button {
    background: #32c4ff;
    @include banklot-linear-gradient(0deg, #1e94ff 0%, #32c4ff 100%);
    @include banklot-border-radius(3px);
    border: 0;
    border-bottom: 1px solid #005e8d;
    color: #f9f9f9;
    font-family: 'Fedra Sans Pro', sans-serif;
    font-size: 18px;
    height: 48px;
    padding: 0 35px;
    text-shadow: 1px 1px 0 #00539b;
  }
}

footer {
  background: #252525;
  color: #a1a3a4;
  font-size: 13px;
  height: 170px;
  line-height: 20px;
  position: relative;

  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: #f9f9f9;

    &:focus,
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #f9f9f9;
    }
  }

  .copyright {
    left: 0;
    position: absolute;
    top: 22px;

    span {
      color: #f9f9f9;
    }
  }

  .powered-by {
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 102px;
  }

  .privacy-policy {
    position: absolute;
    right: 0;
    top: 22px;
  }
}