html,
body {
  background: $background-color-dark;
  color: #1c2023;
  font-family: $font-helvetica-neue;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  position: relative;
}

section {
  background: $background-color-light;
  position: relative;
}

h1,
h2,
h3 {
  font-family: $font-fedra-sans-pro;
  font-weight: bold;
  margin: 0;
}

a {
  border-bottom: 1px solid transparent;
  $color: #007ed9;
  color: $color;
  text-decoration: none;
  @include transition(all 0.25s ease-in-out);

  &:focus,
  &:hover {
    border-bottom-color: #66a3e3;
    color: $color;
    text-decoration: none;
  }
}

form {
  .form-group {
    margin-bottom: 22px;

    label {
      font-weight: normal;
      text-align: left !important;
    }

    input,
    select {
      height: 38px;
    }

    input,
    textarea {
      @include box-shadow(inset 0 3px 6px -4px #51626f);
    }

    input,
    select,
    textarea {
      border: 1px solid #c7d0d7;
      @include border-radius(3px);
    }

    select {
      background: #f9fafb;
      @include background-linear-gradient(0deg, #cdcfd1 0%, #f9fafb 100%);
    }

    textarea {
      height: 90px;
    }

    input[type="checkbox"] {
      height: auto;
      @include box-shadow(none);
    }

    .date {
      .day {
        padding-right: 0;
      }

      .year {
        padding-left: 0;
      }
    }

    .help-block {
      font-size: 12px;
    }

    .currency {
      position: relative;

      &:after {
        content: 'руб.';
        display: block;
        position: absolute;
        right: 25px;
        top: 8px;
      }
    }

    .months {
      position: relative;

      &:after {
        content: 'месяцев';
        display: block;
        position: absolute;
        right: 25px;
        top: 8px;
      }
    }
  }
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

.logo {
  background: url('#{$path-images}logo.png') no-repeat;
  display: inline-block;
  height: 18px;
  width: 108px;

  &-dark {
    background: url('#{$path-images}logo-dark.png') no-repeat;
    height: 21px;
    width: 124px;
  }

  &-index {
    background: url('#{$path-images}logo-index.png') no-repeat;
    height: 26px;
    width: 145px;
  }
}

.btn-blue {
  background: #32c4ff;
  @include background-linear-gradient(0deg, #1e94ff 0%, #32c4ff 100%);
  @include border-radius(3px);
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #005e8d;
  border-right: 1px solid #005e8d;
  color: #f9f9f9;
  font-family: $font-fedra-sans-pro;
  font-size: 18px;
  height: 48px;
  padding: 0 35px;
  text-align: center;
  text-shadow: 1px 1px 0 #00539b;
  vertical-align: top;

  &.btn-a {
    padding-top: 14px;

    &:focus,
    &:hover {
      color:  #f9f9f9;
    }
  }
}

.btn-green {
  background: #00b92c 100%;
  @include background-linear-gradient(0deg, #009011 0%, #00b92c 100%);
  @include border-radius(3px);
  color: #f9f9f9;
  display: inline-block;
  font-family: $font-fedra-sans-pro;
  font-size: 16px;
  height: 48px;
  padding: 0 35px;
  text-align: center;
  text-shadow: 1px 1px 2px #005300;
  vertical-align: top;

  &.btn-a {
    padding-top: 14px;

    &:focus,
    &:hover {
      border-bottom-color: transparent;
      color:  #f9f9f9;
    }
  }
}

.btn-grey {
  background: #f7f8f8;
  @include background-linear-gradient(0deg, #e2e5e7 0%, #f7f8f8 100%);
  border: 1px solid #d5dade;
  @include border-radius(3px);
  color: #1c2023;
  display: inline-block;
  font-family: $font-fedra-sans-pro;
  font-size: 13px;
  height: 38px;
  text-align: center;

  &.btn-a {
    padding-top: 9px;

    &:focus,
    &:hover {
      border-bottom-color: transparent;
      color: #1c2023;
  }
}
}

table {
  width: 100%;

  th {
    color: #fff;
    background: #292a2e;
    font-weight: normal;
    height: 40px;
    padding: 0 15px;
    vertical-align: middle;

    &:first-child {
      @include border-bottom-left-radius(3px);
      @include border-top-left-radius(3px);
    }

    &:last-child {
      @include border-bottom-right-radius(3px);
      @include border-top-right-radius(3px);
    }
  }

  td {
    padding: 14px 15px;
    vertical-align: middle;
  }

  tr.disabled {
    background: #eaebec;
    color: #808389;

    td {
      &:first-child {
        @include border-bottom-left-radius(3px);
        @include border-top-left-radius(3px);
      }

      &:last-child {
        @include border-bottom-right-radius(3px);
        @include border-top-right-radius(3px);
      }
    }
  }
}