section.default-page {
  .wrapper {
    padding: 20px 0 40px;

    h1 {
      font-size: 32px;
      font-weight: normal;
      margin-bottom: 16px;
    }
  }

  .sidebar {
    position: absolute;
    right: 0;
    top: 20px;
    width: 233px;
  }
}