@mixin font-face($family, $style, $weight, $filename) {
  @font-face {
    font: {
      family: $family;
      style: $style;
      weight: $weight;
    }
    src: url('#{$path-fonts}banklot/#{$filename}');
  }
}

@include font-face('Fedra Sans Pro', normal, normal, 'fedra-sans-pro-regular.ttf');
@include font-face('Fedra Sans Pro', normal, bold, 'fedra-sans-pro-medium.ttf');
@include font-face('Helvetica Neue', normal, normal, 'helvetica-neue-regular.otf');
@include font-face('Helvetica Neue', normal, bold, 'helvetica-neue-bold.otf');
@include font-face('Helvetica Neue', italic, normal, 'helvetica-neue-italic.otf');
@include font-face('Helvetica Neue', italic, bold, 'helvetica-neue-bold-italic.otf');