footer {
  background: $background-color-dark;
  color: #a1a3a4;
  font-size: 13px;
  height: 120px;
  line-height: 20px;
  position: relative;

  a {
    color: #f9f9f9;

    &:focus,
    &:hover {
      border-bottom-color: rgba(255, 255, 255, 0.5);
      color: #f9f9f9;
    }
  }

  .copyright {
    left: 0;
    position: absolute;
    top: 22px;

    span {
      color: #f9f9f9;
    }
  }

  .privacy-policy {
    position: absolute;
    right: 0;
    top: 22px;
  }
}