header.main {
  background: $background-color-dark;
  height: 54px;
  position: relative;
  z-index: 100;

  .logo {
    border: none;
    display: block;
    left: 0;
    position: absolute;
    top: 18px;
  }

  .menu {
    left: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;

    li {
      display: inline-block;
      height: 100%;
      margin-right: 30px;
      padding: 18px 0 0 28px;
      position: relative;

      a {
        color: #fff;
        font-weight: bold;

        &:focus,
        &:hover {
          border-bottom-color: transparent;
        }
      }

      .submenu {
        background: $background-color-light;
        border: 1px solid #dadada;
        border-top: none;
        display: none;
        font-size: 12px;
        left: 0;
        min-width: 100px;
        padding: 20px 20px 0;
        position: absolute;
        top: 54px;
        z-index: 5;

        h3 {
          font-size: 16px;
          margin-bottom: 20px;
        }

        p {
          margin: 0 0 20px;

          a {
            color: #007ed9;
            font-weight: normal;

            &:focus,
            &:hover {
              border-bottom-color: #66a3e3;
              color: #007ed9;
            }
          }
        }

        &:before {
          border: 8px solid transparent;
          border-bottom-color: #fff;
          content: '';
          display: block;
          height: 16px;
          left: 30px;
          position: absolute;
          top: -16px;
          width: 16px;
          z-index: 10;
        }
      }

      &.lots {
        background: url('#{$path-images}icon-lots.png') left 21px no-repeat;
      }

      &.statistics {
        background: url('#{$path-images}icon-statistics.png') left 18px no-repeat;
      }

      &.notices {
        background: url('#{$path-images}icon-notices.png') left 22px no-repeat;

        .count {
          height: 12px;
          left: 0;
          margin-left: -15px;
          position: absolute;
          top: 18px;
          width: 24px;
          z-index: 5;

          span {
            background: #ed1b23;
            @include border-radius(100%);
            color: #fff;
            display: block;
            font-size: 8px;
            height: 12px;
            line-height: 12px;
            min-width: 12px;
            padding: 0 3px 0 2px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
          }
        }

        .submenu {
          width: 400px;
        }
      }

      &.user {
        background: url('#{$path-images}icon-user.png')left 21px no-repeat;

        .submenu {
          width: 180px;
        }
      }
    }
  }

  .add-lot-button {
    height: 38px;
    padding: 7px 0 0 19px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 8px;
    width: 153px;

    &:after {
      background: url('#{$path-images}icon-add-lot.png') no-repeat;
      content: '';
      height: 14px;
      position: absolute;
      right: 13px;
      top: 12px;
      width: 14px;
    }

    &.adding {
      background: #00b92c;
      @include border-bottom-left-radius(0);
      @include border-bottom-right-radius(0);
      top: 16px;
    }
  }
}