@mixin banklot-border-bottom-left-radius($radius) {
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin banklot-border-bottom-right-radius($radius) {
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin banklot-border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin banklot-border-top-left-radius($radius) {
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin banklot-border-top-right-radius($radius) {
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin banklot-box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin banklot-linear-gradient($deg, $gradient...) {
  background: -moz-linear-gradient(-$deg + 90deg, $gradient);
  background: -ms-linear-gradient(-$deg + 90deg, $gradient);
  background: -o-linear-gradient(-$deg + 90deg, $gradient);
  background: -webkit-linear-gradient(-$deg + 90deg, $gradient);
  background: linear-gradient($deg, $gradient);
}

@mixin banklot-text-shadow($shadow) {
  text-shadow: $shadow;
}