$background-color-dark: #252525 !default;
$background-color-light: #fff !default;
$font-fedra-sans-pro: 'Fedra Sans Pro', sans-serif !default;
$font-helvetica-neue: 'Helvetica Neue', sans-serif !default;
$path-fonts: '../../fonts/' !default;
$path-images: '../../images/' !default;