@mixin background-linear-gradient($deg, $gradient...) {
  background: linear-gradient($deg, $gradient);
  background: -moz-linear-gradient(-$deg + 90deg, $gradient);
  background: -ms-linear-gradient(-$deg + 90deg, $gradient);
  background: -o-linear-gradient(-$deg + 90deg, $gradient);
  background: -webkit-linear-gradient(-$deg + 90deg, $gradient);
}

@mixin border-bottom-left-radius($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;

}

@mixin border-bottom-right-radius($radius) {
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
}

@mixin transition-delay($delay) {
  transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
}

@mixin transition-duration($duration) {
  transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
}

@mixin transition-property($property) {
  transition-property: $property;
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
}

@mixin transition-timing-function($timing-function) {
  transition-timing-function: $timing-function;
  -moz-transition-timing-function: $timing-function;
  -o-transition-timing-function: $timing-function;
  -webkit-transition-timing-function: $timing-function;
}