{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Сертификаты учеников{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Сертификаты учеников</h1>
    <a href="{{ path('admin_certificates_add') }}" class="btn btn-success">Добавить новый сертификат</a>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Ф.И.О.</th>
            <th>Номер</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for cert in certificates %}
            <tr>
                <td>{{ cert.name|e }}</td>
                <td>{{ cert.number|e }}</td>
                <td>
                    <a href="{{ path('admin_certificates_remove', {'certificate': cert.id}) }}" class="remove">Удалить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет сертификатов</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.remove').click(function(e) {
                if (!confirm('Вы уверены, что хотите удалить сертификат?')) {
                    e.preventDefault();

                    return false;
                }

                return true;
            });
        });
    </script>
{% endblock %}