{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Настройки</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% set errors = form.allowed_balance.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.allowed_balance, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.allowed_balance, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.allowed_certificate_balance.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.allowed_certificate_balance, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.allowed_certificate_balance, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.withdraw_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.withdraw_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.withdraw_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.withdraw_certificate_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.withdraw_certificate_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.withdraw_certificate_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.capitalized_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.capitalized_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.capitalized_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.capitalized_certificate_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.capitalized_certificate_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.capitalized_certificate_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.own_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.own_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.own_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.responsible_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.responsible_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.responsible_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.invite_percent.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.invite_percent, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.invite_percent, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}