<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('admin_moneys') }}">Движения средств</a>
            </li>
            <li>
                <a href="{{ path('admin_lot_categories') }}">Категории лотов</a>
            </li>
            <li>
                <a href="{{ path('admin_lots') }}">Лоты</a>
            </li>
            <li>
                <a href="{{ path('admin_users') }}">Пользователи</a>
            </li>
            <li>
                <a href="{{ path('admin_users_invites') }}">Приглашения</a>
            </li>
            <li>
                <a href="{{ path('admin_certificates') }}">Сертификаты</a>
            </li>
            {#<li>#}
                {#<a href="{{ path('admin_notices') }}">Уведомления</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('admin_config') }}">Настройки</a>
            </li>
            <li>
                <a href="{{ logout_path('admin') }}">Выход</a>
            </li>
        </ul>
    </div>
</nav>