{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Категории лотов{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Категории лотов</h1>
    <a href="{{ path('admin_lot_categories_add') }}" class="btn btn-success">Добавить новую категорию</a>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Категория</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name|e }}</td>
                <td>
                    <a href="{{ path('admin_lot_categories_edit', {'category': category.id}) }}">Изменить</a> |
                    <a href="{{ path('admin_lot_categories_remove', {'category': category.id}) }}" class="remove">Удалить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Нет категорий</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.remove').click(function(e) {
                if (!confirm('Вы уверены, что хотите удалить категорию?')) {
                    e.preventDefault();

                    return false;
                }

                return true;
            });
        });
    </script>
{% endblock %}