{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Категория лотов{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Категория лотов</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% set errors = form.name.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.name, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    {{ form_end(form) }}
    <hr>
    <a href="{{ path('admin_lot_categories') }}" class="btn btn-default">Назад</a>
{% endblock %}