{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Торги{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Торги</h1>
    <a href="{{ path('lots_add_lot') }}" class="btn btn-success">Добавить новый лот</a>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Название лота</th>
                <th>Категория</th>
                <th>Статус</th>
                <th>Дата реализ.</th>
                <th>Рентабельность</th>
                <th>Прибыль</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lot in lots %}
                {% set profit = 0 %}
                {% set profitability = 0 %}
                {% if lot.status == 0 %}
                    {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                    {% set profit = lot.marketCost - sum %}
                    {% set profitability = sum != 0 ? lot.marketCost / sum * 100.00 : 0 %}
                {% elseif lot.status == 1 %}
                    {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                    {% set profit = lot.marketCost - sum %}
                    {% set profitability = sum != 0 ? profit / sum * 100.00 : 0 %}
                {% elseif lot.status == 2 %}
                    {% set sum = lot.sale + lot.additionalExpenses %}
                    {% set profit = sum - lot.purchaseCost %}
                    {% set profitability = sum != 0 ? sum / lot.purchaseCost * 100.00 : 0 %}
                {% elseif lot.status == 4 %}
                    {% set sum = lot.purchaseCost + lot.additionalExpenses %}
                    {% set profit = lot.sale - sum %}
                    {% set profitability = lot.sale != 0 ? lot.sale / sum * 100.00 : 0 %}
                {% endif %}
                <tr>
                    <td>{{ lot.name|e }}</td>
                    <td>{{ lot.category.name|e }}</td>
                    <td>
                        {% if lot.status == 0 %}Сбор средств
                        {% elseif lot.status == 1 %}На покупке
                        {% elseif lot.status == 2 %}Куплен
                        {% elseif lot.status == 3 %}Не куплен
                        {% elseif lot.status == 4 %}Капитализирован
                        {% endif %}
                    </td>
                    <td>{{ lot.createdAt|date('d.m.y') }}</td>
                    <td>{{ profitability|round(0) }} %</td>
                    <td>{{ profit|round(2) }} р.</td>
                    <td>
                        <a href="{{ path('lots_lot', {'lot': lot.id}) }}">Открыть</a>
                        {% if lot.status != 3 and lot.status != 4 %}
                            | <a href="{{ path('lots_edit', {'lot': lot.id}) }}">Редактировать</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Ничего не найдено</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}