{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Движения средств{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Движения средств</h1>
    <h2>Данные о средствах компании</h2>
    <table class="table table-hover" style="width: 50%;">
        <tbody>
            <tr>
                <td>Всего средств в системе</td>
                <td>{{ all_moneys|e }} руб.</td>
            </tr>
            <tr>
                <td>Доход с процентов на вывод средств</td>
                <td>{{ profit_withdraw }} руб.</td>
            </tr>
            <tr>
                <td>Доход с процентов на чистую прибыль</td>
                <td>{{ profit_capitalized|e }} руб.</td>
            </tr>
            <tr>
                <td>Весь доход</td>
                <td>
                    <strong>{{ (profit_withdraw + profit_capitalized)|e }} руб.</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Неподтвержденные движения средств</h2>
    <a href="{{ path('admin_moneys_add') }}" class="btn btn-success">Добавить новое движение средств</a><br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Тип движения</th>
                <th>Сумма</th>
                <th>С комиссией</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for money in moneys %}
                <tr>
                    <td>{{ money.user.nickname|e }}</td>
                    <td>
                        {% if money.type == 0 %}Пополнение
                        {% elseif money.type == 1 %}Вывод из системы
                        {% endif %}
                    </td>
                    <td>{{ money.sum|e }}</td>
                    <td>
                        {% if money.type == 1 %}
                            {% if money.user.certificate is not null %}
                                {{ (money.sum * (1 - cert_percent / 100.00))|e }}
                            {% else %}
                                {{ (money.sum * (1 - percent / 100.00))|e }}
                            {% endif %}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_moneys_edit', {'money': money.id}) }}">Изменить</a> |
                        <a href="{{ path('admin_moneys_confirm', {'money': money.id}) }}" class="confirm">Подтвердить</a> |
                        <a href="{{ path('admin_moneys_remove', {'money': money.id}) }}" class="remove">Удалить</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Нет движений</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Все движения средств</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Тип движения</th>
                <th>Лот</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for money in moneys_all %}
                <tr>
                    <td>
                        <a href="{{ path('admin_users_edit', {'user': money.user.id}) }}">{{ money.user.nickname|e }}</a>
                    </td>
                    <td>
                        {% if money.type == 0 %}
                            Пополнение
                        {% elseif money.type == 1 %}
                            Вывод денег
                        {% elseif money.type == 2 %}
                            Взнос
                        {% elseif money.type == 3 %}
                            Прибыль
                        {% elseif money.type == 4 %}
                            Возврат
                        {% elseif money.type == 5 %}
                            Бонус автору
                        {% elseif money.type == 6 %}
                            Бонус исполнителю
                        {% else %}
                            Проч. перечисления
                        {% endif %}
                    </td>
                    <td>
                        {% if money.lot is not empty %}
                            <a href="{{ path('lots_lot', {'lot': money.lot.id}) }}">{{ money.lot.name|e }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>{{ money.sum|e }} руб.</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Нет движений средств</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br><br><br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.confirm').click(function(e) {
                if (!confirm('Вы уверены, что хотите подтвердить движение средств?')) {
                    e.preventDefault();

                    return false;
                }

                return true;
            });

            $('.remove').click(function(e) {
                if (!confirm('Вы уверены, что хотите удалить движение средств?')) {
                    e.preventDefault();

                    return false;
                }

                return true;
            });
        });
    </script>
{% endblock %}