{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Движение средств{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Движение средств</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% set errors = form.user.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.user, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.type.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.type, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        {% set errors = form.sum.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.sum, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.sum, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <label>
                    {{ form_widget(form.confirmed) }}
                    {{ form_label(form.confirmed, null, {'label_attr': {'class': 'control-label'}}) }}
                </label>
            </div>
        </div>
        {% set errors = form.comment.vars.errors %}
        <div class="form-group{{ errors|length ? ' has-error' }}">
            {{ form_label(form.comment, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-5">
                {% for error in errors %}
                    <span class="help-block">{{ error.message }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    {{ form_end(form) }}
    <hr>
    <a href="{{ path('admin_moneys') }}" class="btn btn-default">Назад</a>
{% endblock %}