{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block head %}
    <style>
        div.address,
        div.passport,
        div.bank { display: none; }
    </style>
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Пользователи</h1>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Электропочта</th>
            <th>Никнейм</th>
            <th>Роль</th>
            <th>Телефон</th>
            <th>Дата рождения</th>
            <th>Адрес</th>
            <th>Паспорт. данные</th>
            <th>Банк. реквизиты</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name|e }}</td>
                <td>{{ user.username|e }}</td>
                <td>{{ user.nickname|e }}</td>
                <td>{{ user.roleName|e }}</td>
                <td>{{ user.phone|e }}</td>
                <td>{{ user.dateOfBirth|date('d.m.Y') }}</td>
                <td>
                    <a href="#" class="address">Показать</a>
                    <div class="address">
                        {{ user.country|e }}, {{ user.region|e }}, {{ user.city|e }}, {{ user.address|e }}
                    </div>
                </td>
                <td>
                    <a href="#" class="passport">Показать</a>
                    <div class="passport">
                        {{ user.passportSeries|e }} {{ user.passportNumber|e }}, {{ user.passportIssuedBy|e }}, {{ user.passportDateOfIssue|date('d.m.Y') }}, ИНН: {{ user.INN|e }}
                    </div>
                </td>
                <td>
                    <a href="#" class="bank">Показать</a>
                    <div class="bank">
                        Счет: {{ user.bankAccount|e }}, БИК: {{ user.bankBIK|e }}
                    </div>
                </td>
                <td>
                    <a href="{{ path('admin_users_edit', {'user': user.id}) }}">Изменить</a> |
                    <a href="{{ path('admin_users_lock', {'user': user.id}) }}">
                        {{ user.locked ? 'Разблокировать' : 'Заблокировать' }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Нет пользователей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('a.address').click(function(e) {
                $(this).parent().find('div.address').show();
                e.preventDefault();
                return false;
            });
            $('a.passport').click(function(e) {
                $(this).parent().find('div.passport').show();
                e.preventDefault();
                return false;
            });
            $('a.bank').click(function(e) {
                $(this).parent().find('div.bank').show();
                e.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}