{% extends 'BanklotBundle::admin_layout.html.twig' %}

{% block title %}Приглашения пользователей{% endblock %}

{% block head %}
    <style>
        div.invited { display: none; }
    </style>
{% endblock %}

{% block body %}
    {% include 'BanklotBundle:Admin:header.html.twig' %}
    <h1>Приглашения пользователей</h1>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Пользователь</th>
            <th>Пригласил</th>
            <td>Реферальная ссылка</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('admin_users_edit', {'user': user.id}) }}">{{ user.nickname|e }}</a>
                </td>
                <td>
                    {% if user.invited|length %}
                        <a href="#" class="invited">Показать</a>
                        <div class="invited">
                            {% for invited in user.invited %}
                                <a href="{{ path('admin_users_edit', {'user': invited.id}) }}">{{ invited.nickname|e }}</a><br>
                            {% endfor %}
                        </div>
                    {% else %}
                        Никого не приглашал
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('security_registration_1') }}?ref={{ user.id }}" target="_blank">{{ app.request.schemeAndHttpHost ~ path('security_registration_1') }}?ref={{ user.id }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет пользователей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('a.invited').click(function(e) {
                $(this).parent().find('div.invited').show();
                e.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}